[2019-02-15 12:39] bartsmykla opened #2 "Mac OS X is not supporting static binaries - it doesn't build on Mac"
It seems like Mac OS X doesn't support static binaries: https://developer.apple.com/library/content/qa/qa1118/_index.html
so Bazel is failing when trying to build cip on MacOS

I think that we could implement simple fix for that, like kubectl: https://github.com/kubernetes/kubernetes/commit/46e894bfd3bd23cb67a4324f86fc7bd91a7423ce#diff-f5ebbdbdf8b4060ed24bc6ac0dcbad75

Let me create a simple PR fo

[2019-02-15 23:01] listx commented on #2
Sounds good to me. Please feel free to add a PR for that. I do have some bazel changes in the pipeline --- let me merge that in first.

[2019-02-15 23:35] listx opened #4 "Makefile: use .bazelrc instead of BAZEL_BUILD_OPTS"
Per @bentheelder's [comment](https://github.com/GoogleCloudPlatform/k8s-container-image-promoter/pull/1#discussion_r257420701) in #1, instead of using BAZEL_BUILD_OPTS and passing it in, we can just use a .bazelrc and invoke bazel directly w/o any wrappers.

https://github.com/kubernetes/test-infra/blob/9a497cc7808fbb19cd85eb8caa1453732272745a/.bazelrc#L2

[2019-02-16 00:43] listx opened #5 "move CI logic into separate scripts"
I.e., strip out steps from cloudbuild.yaml and elsewhere into standalone scripts.

[2019-02-16 02:19] listx opened #6 "use Prow for CI"
#1 adds support for using GCB, but Prow is much more powerful.

Then we can enable /lgtm commands and such. This also requires setting up an OWNERS file. See https://github.com/kubernetes/test-infra/tree/master/prow/plugins/approve/approvers

[2019-02-16 06:45] listx opened #7 "make -garbage-collect aware of manifest lists (aka "fat" manifests)"
Currently the garbage collection logic just checks if a digest has no associated tags, and if so, deletes them. This doesn't account for manifest lists.

Thankfully, the `gcloud` call we use currently in version 234.0.0 crashes if we attempt to delete a digest that is referenced by a manifest list, so nothing happens (and we can use -delete-extra-tags safely).

The solution is to just use the Dock

[2019-02-16 06:51] listx commented on #7
I think this is a high-priority item; labeling it as a bug for now because I'm too lazy to create P0/P1/P2/P3 priority labels.

[2019-02-16 07:08] listx opened #8 "Create e2e test for use in CI (to actually promote/demote images in Docker Registries)"
The idea is, we can create a test (as a Prow Job) to populate 2 test GCRs --- a fake "staging" and a fake "production" GCR. Then we would rotate through 1 or more different promoter manifests, with various flags passed to the promoter, and expect the target registry to look a certain way after the promoter finishes.

We could do the above multiple times in the test. This would be great to test thi

[2019-02-19 14:07] bartsmykla opened #9 "DockerHub as a src registry"
After doing some research about how time consuming would be to implement DockerHub as a src registry I think there are three paths we can take.

1. Current implementation use `gcloud` CLI tool for work related registries, so we could create a simple, similar CLI tool with the same API related to commands we need (I think it's the quickest way)
2. Create an abstraction just for DockerHub without us

[2019-02-19 21:13] listx commented on #9
First, thank you so much for looking into this area. I agree with your 3 paths you outlined.

The main reason I chose to use `gcloud` was because it allowed me to ignore everything related to authentication (I just assume that the service account specified in the promoter manifest is already authenticated), because I wanted to get this tool out and working asap.

You are right that the go-containe

[2019-02-21 05:28] listx opened #10 "add --delta flag to only act on the delta of 2 manifest files"
Instead of giving the entire promoter manifest to the promoter for each run, we could give it 2 manifests: the version at HEAD and the one at a prior commit (or in the context of a PR, HEAD in master branch vs the version in the PR).

There are a couple advantages to this:
(1) There is no need to look at all images in the manifest (it's much faster, and also there's less room for error, because pr

[2019-02-21 23:41] listx opened #11 "validate digests and tags"
If today we have a typo in the sha256 digest or Docker tag field, giving an invalid string is not caught during parsing. We just expect them to be stringlike things.

During manifest parsing, add a check to make sure sha256 digests are actually hex characters only, and that Docker tags meet the requirements of Docker tags described in https://docs.docker.com/engine/reference/commandline/tag/.

[2019-02-22 16:53] listx opened #13 "feature request: promote to multiple destination repos (aka "mirroring")"
This way, we can simulate a "mirroring" operation. That is, copy to multiple destination registries instead of just 1.

For the manifest, instead of just accepting a YAML string for `registries: dest: ...`, it could accept an array of strings. And then we would run the copy (promotion) operations in parallel for each destination registry.

[2019-02-22 17:13] listx opened #14 "make the -garbage-collect flag optionally promote to a trash repo"
Instead of simply deleting images outright for garbage collection (deletion of unreferenced images), we could also (in addition) promote the images to a trash repo. This way, we can feel a lot safer about deleting images. Another benefit is that we could priodically delete *all* images in the trash registry, if they are older than X days (super simple script --- just list all images by timestamps

[2019-02-22 17:19] listx commented on #13
I'm wondering if we should make each `dest` registry also have a service account field. That way we don't have to use the same service account across all `dest` registries.

The more I think about this, the more it makes sense. The downside is that we have to import multiple secrets into Prow to plumb it all together, but I think it's worth the security advantages (let's try to give each service a

[2019-02-22 23:13] listx opened #15 "add a -create-manifest flag"
If we want to use the promoter against a prod registry that already has a bunch of images, we have to manually insert each image into the manifest. This would be extremely time consuming. So, we should add a `-create-manifest` flag that populates a manifest's `images: ..` key with all the images found at a `dest` registry (if there are multiple, then maybe the union of all of them).

We already ha

[2019-02-23 04:09] listx opened #16 "Do not make -delete-extra-tags imply -garbage-collect"
This is because we want to separate promoter runs from garbage collection runs.

Separation of concerns ftw!

[2019-02-23 05:14] hpandeycodeit commented on #16
@listx I am interested in this one. Any pointers to start with ?

[2019-02-23 06:38] listx commented on #16
Hi @hpandeycodeit !

I think it's as simple as removing the if-block at https://github.com/GoogleCloudPlatform/k8s-container-image-promoter/blob/master/cip.go#L57 and also updating any related help text in that file.

[2019-02-26 23:19] listx opened #18 "add windows support"
Make sure that the promoter works from a windows machine. In theory golang is cross-platform (so is our dependency, `gcloud`), but it has not actually been tested.

[2019-02-26 23:25] listx opened #19 "support 'foreign' layers in manifest lists"
https://github.com/docker/distribution/blob/master/docs/spec/manifest-v2-2.md#manifest-list

Currently this boils down to whether `gcloud` supports foreign layers because we have chosen to delegate all Docker manipulations to that tool. And because `gcloud` only works on GCR, it's a question of whether GCR supports foreign layers.

At the very least we can create an image with a foreign layer and

[2019-02-26 23:27] listx opened #20 "allow remapping paths during promotion (do not force src registry to share same namespace as dest registry)"
Currently we expect the source image to have the *exact* same path as the destination path. This limits flexibility. We want to be able to optionally specify the target path in the destination, to allow it to be different than the source path.

This will require a slight tweak to the promoter manifest YAML.

[2019-02-27 00:05] listx opened #21 "add a script to invoke the promoter multiple times against different manifests"
Each time it is invoked, it should set activate the right service account.

[2019-02-27 19:40] javier-b-perez commented on #13
Unless you will run the promoter in a different environment per `dest` registry, I don't see the point of using multiples service accounts. At the end the 'main' job will have access to all the SAs.

[2019-03-01 01:26] listx commented on #13
So, given multiple `dest` registries, are you saying we should make them all readable/writable by 1 global service account, in order to be used by a single promoter process (invocation)? I don't like that because it unnecessarily makes the promoter less flexible.

Allowing each `dest` registry to specify its own service account doesn't mean that they will have to be different in practice. They cou

[2019-03-01 15:30] cpanato commented on #14
I'm on it.
I bit busy this week but next will finish

[2019-03-01 21:20] #2 closed

[2019-03-06 17:02] listx opened #26 "add script to dynamically generate multiple manifests on the fly"
This is a short-term hack until https://github.com/kubernetes-sigs/k8s-container-image-promoter/issues/13 gets resolved in the Go code directly. Once https://github.com/kubernetes-sigs/k8s-container-image-promoter/pull/23 gets merged (serializing multiple runs of the promoter in 1 script), this script can reuse it.

The real-world use case for this script is that we want to be able to push to mult

[2019-03-06 17:19] listx opened #27 "rename Go imports to use kubernetes-sigs GH org"
Also update README.md instructions to reflect the new home.

[2019-03-06 17:42] cpanato commented on #27
I can take it :)

[2019-03-06 18:01] listx commented on #18
@thockin IIRC [this](https://github.com/kubernetes/kubernetes/issues/74134#issuecomment-465094512) was the reason for creating this issue. Did I misread that link (we need to test the promoter on Windows images, *not* that we need to compile the promoter to run as a Windows (.exe) binary)?

[2019-03-06 18:43] javier-b-perez commented on #18
But the promoter will run in Prow. How is this related?
We don't want humans to use the promoter, the promoter runs "as-a-service", right?

[2019-03-08 16:51] cpanato commented on #27
PR: https://github.com/kubernetes-sigs/k8s-container-image-promoter/pull/28

[2019-03-09 01:30] #27 closed

[2019-03-10 01:17] listx commented on #21
/close

[2019-03-10 01:17] #21 closed

[2019-03-11 07:06] listx commented on #11
This was fixed with #12.

[2019-03-11 07:06] #11 closed

[2019-03-15 13:30] #13 closed

[2019-03-18 09:33] listx commented on #16
/close

[2019-03-18 09:33] #16 closed

[2019-03-19 08:01] bartsmykla commented on #15
I could do that! :-)

[2019-03-19 10:09] bartsmykla opened #33 "readme inconsistency related to manifests structure"
Hi, in documentation there is example manifest:
[code]
and in https://github.com/kubernetes-sigs/k8s-container-image-promoter/commit/9514603198569860ffd0e5ddc7cd7221673f2bd5 there was change of `src` to `src-registry`

[2019-03-20 08:07] listx commented on #26
This is no longer necessary as #13 has been resolved (the promoter can now promote to multiple destination repositories).

[2019-03-20 08:07] #26 closed

[2019-03-20 09:26] #33 closed

[2019-04-03 17:51] listx opened #36 "add linter as a required presubmit check for all new PRs"
We already have the linting rules defined, so it's just a matter of adding another Prow job.

[2019-04-05 18:49] listx opened #37 "Manifest: do not force all entries in `registries` field to have a `service-account` field"
Some registries are public so it does not make any sense to force them to have `service-account` fields.

Related logs (where we are trying to auth as `service-account@kubernetes-public.iam.gserviceaccount.com`): https://prow.k8s.io/log?job=post-k8sio-cip&id=1114233301771489280

[2019-04-05 20:50] listx commented on #37
Fixed in f2e043734db636b4b83b2ab2f4eceef27cd058b0

[2019-04-05 20:50] #37 closed

[2019-04-05 22:38] listx opened #38 "add API version info to promoter manifest"
This way, the promoter can reject old manifests that are no longer compatible (in case we introduce any backward-incompatible changes to the promoter binary, and a human updates a Prow job that still uses an old manifest to be run against a newer (incompatible) promoter binary). We need to exit gracefully in such cases instead of possibly crashing.

So the Manifest YAML could have a new key like

[2019-04-06 00:30] listx commented on #18
Having had another look at the linked discussion, I believe we just need to make sure that the promoter understands windows images.

We use gcloud internally so this may already be supported. Someone needs to try to promote a windows image to verify it.

Correct, the official promoter Prow jobs will *always* run as-a-service (unless there are emergencies or some such, but that should be the except

[2019-04-08 11:30] Avni-Sharma commented on #36
Hey, where is the new prow job added?

[2019-04-08 19:57] listx commented on #36
It would get added in https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-release/cip/container-image-promoter.yaml as another presubmit. We already have a linter script that uses golangci-lint (see https://github.com/kubernetes-sigs/k8s-container-image-promoter/blob/master/lint.sh).

Hmm upon further thought I think we don't track the golangci-lint dependency in Bazel.

[2019-04-08 19:59] listx opened #39 "track golangci-lint in Bazel"
For that matter, we should try to track all dependencies with Bazel.

[2019-04-08 20:00] listx commented on #36
I opened #39 for this. Let's do that one first.

[2019-04-08 20:01] listx commented on #39
Also, we should make `lint.sh` use a bazel invocation instead of calling the local (non-bazel) `golangci-lint` binary directly.

[2019-04-09 19:26] listx commented on #20
I'm thinking of adding a new field in the promoter manifest called `renames`, which will be a list of "links". E.g.:

[code]

The point is to make sure that all promotions of `bar` from `gcr.io/foo` to be named as `gcr.io/some/path/banana` (assuming that `gcr.io/foo` is the source registry). The rename entries could be arbitrarily long, like `a:b:c:d:...:x` --- the main requirement is that the ren

[2019-04-09 21:32] javier-b-perez commented on #20
what about this as an optional field?

[code]

The result will be
gcr.io/some/path/banana:1.1 same digest as src/apple:1.1

[2019-04-09 21:52] listx commented on #20
There are a few reasons why I rejected this approach:
- I don't like how the rename value lives on its own, separate from the registry name and image name. It takes a little bit of mental calculation to do create `gcr.io/some/path/banana` in our heads. Having the full path like in my original post follows the "explicit is better than implicit" motto, which I think is important for these manifests

[2019-04-11 07:28] listx commented on #20
It's worth mentioning here that renames won't work until we tweak the "read the state of the world" logic we currently have; this is because the underlying `gcloud` command we use to read the GCR doesn't give us a full list of all images --- it only lists images at the root (and won't list images that are embedded under subdirectories). We need to read those images in nested subdirs because we wil

[2019-04-16 18:28] #20 closed

[2019-04-17 02:26] listx opened #41 "allow DRY-er renames"
During promotion, we might need to rename images to multiple repositories, but the current `renames:` syntax in the Promoter Manifest forces us to specify each repository (any unlisted repository will not use the renamed image path).

E.g. if we have the `{eu,asia,us}.gcr.io` regional destinations, then the renames would have to look like this in the manifest (as it is implemented today):

[code]

[2019-04-17 18:04] listx opened #42 "create `--add-image` flag to modify an existing promoter manifest"
If we want to edit the manifest today to include a new image (to get it promoted), we have to hand-edit the YAML. This is error-prone. We should create a new flag that can make edits to the manifest in a more automated way.

E.g., something like `cip --add-image=gcr.io/foo/bar/blah:1.3.1 -manifest=foo.yaml` should fetch the digest of that image, and add an entry in the promoter manifest `foo.yaml`

[2019-04-17 18:12] listx opened #43 "renames: ensure that rename destinations don't overlap across rename entries"
A user could mistakenly do this in the manifest:

[code]

where both `a` and `b` will get renamed to `subdir/a`. We need to catch this as an error during the Manifest parsing phase.

[2019-04-17 18:22] listx commented on #8
For the actual images used during testing, another alternative is to use a set of known images and to just check these in as long as they are reasonably small. Ultimately, we need to test for:

- plain images
- manifest lists (aka "fat manifests") that reference multiple images
- windows images
- images with foreign layers

For the more exotic images like windows images and foreign layers (ones we

[2019-04-17 18:36] listx commented on #42
There is no real need to make a subcommand (and refactor our option handling logic), so I changed the wording to use "flag" instead of "subcommand".

[2019-04-20 06:27] listx commented on #8
I will create a short design doc for this before starting work on this.

[2019-05-03 18:43] listx commented on #8
The design doc is here: https://docs.google.com/document/d/1PgLI7OCEd09qLLz9yGmY2KK0uxhROc9GGC-PkwgnKN4/edit?usp=sharing

[2019-05-06 21:23] listx opened #49 "Move official home of promoter docker images to k8s.gcr.io or somewhere else more official than gcr.io/cip-demo-staging"
Eventually when the promoter is hosted on `k8s.gcr.io`, we could have a promoter manifest for the promoter itself (i.e., build the promoter to the old `gcr.io/cip-demo-staging` location, but modify a promoter manifest to promote it into `k8s.gcr.io`).

This is more of a housekeeping thing and is not super urgent, mainly because the promoter Docker images are all built deterministically by Bazel (y

[2019-05-15 19:04] listx commented on #49
It might be worth looking into using https://help.github.com/en/articles/configuring-docker-for-use-with-github-package-registry as another place to host a version.

It doesn't matter where we publish official images because again, the Docker images all should have the same digest (because they are built deterministically).

[2019-05-20 08:36] listx commented on #6
/remove-lifecycle stale

[2019-05-20 08:36] listx commented on #7
/remove-lifecycle stale

[2019-05-24 08:58] listx commented on #4
/remove-lifecycle stale

[2019-05-24 08:58] listx commented on #10
/remove-lifecycle stale

[2019-05-24 08:59] listx commented on #9
/remove-lifecycle stale

[2019-05-24 08:59] listx commented on #5
/remove-lifecycle stale

[2019-05-28 12:57] listx commented on #19
/remove-lifecycle stale

[2019-05-28 15:10] listx commented on #8
I got some code written over KubeCon for this. I have a crude script that can delete all images from the  test-only repos, and also repopulate it with deterministic docker images created with bazel, plus a manifest list.

I will continue to work on this in my own spare time, but feel free to ping me to ask for updates either here or on Slack (#wg-k8s-infra).

[2019-05-28 18:20] listx opened #54 "Use klog everywhere for logging"
Delete the (basic) homegrown stuff in https://github.com/kubernetes-sigs/k8s-container-image-promoter/blob/5fb3b400034911b811880310b2b45257874df6a6/lib/dockerregistry/inventory.go#L72

[2019-05-30 00:46] Jukie commented on #54
Just so I understand the context, is the intent to get rid of all these lines and replace any existing references with klog?
https://github.com/kubernetes-sigs/k8s-container-image-promoter/blob/master/lib/dockerregistry/inventory.go#L72-#L124

[2019-05-31 18:06] amy commented on #15
@bartsmykla Is this something you're still working on?

[2019-05-31 18:11] amy commented on #14
@cpanato Hello! Is this still something you're working on / merged?

[2019-05-31 18:16] amy commented on #15
Can be closed due to: https://github.com/kubernetes-sigs/k8s-container-image-promoter/pull/35

[2019-05-31 18:50] listx commented on #54
Yes exactly. Those lines were added as a temporary measure but now that we are using klog as a dependency, we use use klog instead.

[2019-05-31 19:20] amy commented on #5
@listx I have time to tackle this. Can you assign this issue to me.
Is there anything special other than these instructions that I need to follow in order to sanity test the moved logic: https://cloud.google.com/cloud-build/docs/create-custom-build-steps

[2019-05-31 19:35] dims commented on #5
/assign @amy

[2019-05-31 19:36] dims commented on #5
@amy can you please request membership to the kubernetes-sigs org?

[2019-05-31 19:41] amy commented on #5
@dims Ah nevermind. I can't be assigned issues yet.

[2019-05-31 19:48] dims commented on #5
@amy please consider yourself assigned :)

[2019-05-31 22:06] listx commented on #5
@amy  Whatever logic in cloudbuild.yaml should be stripped out into separate shell scripts, and then moved into a new Prow job as per #6.

[2019-05-31 22:59] listx commented on #15
Indeed, thanks @amy!

[2019-05-31 22:59] #15 closed

[2019-05-31 23:14] listx commented on #14
Looking at this again, I don't think it's a good first issue. Mainly because of the complications around renames (imagine an image that gets renamed during promotion gets deleted --- what happens now?). Maybe it's something simple but I can't think of the obvious solution here.

[2019-05-31 23:15] listx commented on #14
Sorry to double-post, but this issue is related to the larger topic of Disaster Recovery, which is the real beast we want to handle.

[2019-06-05 21:38] amy commented on #6
Gonna probably submit this in 5 separate PRs for each separate docker image that correlates with the old cloud-build yaml (setup, lint, test, build-image, push-image)

[2019-06-05 22:22] listx commented on #18
I've verified this experimentally. We actually never touch images ourselves (we have GCR promote it to another GCR), so it was already supported.

/close

[2019-06-05 22:22] #18 closed

[2019-06-05 22:24] listx opened #58 "GitHub Package Registry as src registry (staging registry)"
The https://github.com/containers/skopeo project apparently can perform image copies across registries already. We should consider just using that binary to perform copies instead of using gcloud.

Related: #9

[2019-06-05 22:34] cblecker commented on #58
/cc

[2019-06-06 23:21] amy commented on #6
@listx A question I have about this issue is, when you say use Prow for ci, was there something more than migrating the `cloudbuild.yaml` file?

[2019-06-06 23:39] listx commented on #6
Yes, the e2e tests from #8 will get added in at some point, so that we test how the promoter actually behaves with new changes.

[2019-06-11 01:07] listx commented on #8
@justinsb It's not finished yet, but here is some WIP code for this effort: https://github.com/listx/k8s-container-image-promoter/tree/e2e

[2019-06-14 16:57] amy commented on #8
@listx Trying to see where I can help out here. Any chance you're able to give an overview of what you have done in that WIP.

[2019-06-14 18:24] listx commented on #8
Update on this effort: @amy will help set up the e2e jobs in the untrusted prow cluster. You can also see updates in the design doc https://docs.google.com/document/d/1PgLI7OCEd09qLLz9yGmY2KK0uxhROc9GGC-PkwgnKN4/edit?usp=sharing

[2019-06-25 17:41] listx opened #61 "use spf13/cobra for multi-subcommand CLI option handling"
At the very least, we can have 2 subcommands:

- promote
- snapshot

because they are independent of each other and do completely separate things. It would simplify some of the spaghettiness in cip.go.

NOTE: It is OK to make breaking changes with option handling because the [Prow](https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-release/cip/container-image-promoter.

[2019-07-02 07:45] cpanato commented on #14
@listx having troubles to understand where I need to add the new code, would say I agree this is not for the first issue :(
releasing this issue from my side to other can work on :/

[2019-07-02 19:05] listx commented on #14
Yes, sorry about mis-labeling it earlier as a good first issue. If you have any questions on the other open issues, please feel free to "@" mention me. Thanks!

[2019-07-03 22:39] listx opened #63 "guarantee that deletions never happen by splitting off tag deletion logic (*removal* of existing tags) to a separate tool"
We can still keep around the tag deletion code, but we shouldn't do it as part of the same `cip` tool. This means retiring the `-delete-extra-tags` and `-garbage-collect` flags from the tool.

[2019-07-03 22:44] listx opened #64 "make the promoter act recursively for all manifests found under a directory"
Instead of telling the promoter "here is the manifest, here is the SA, please do the promotion" (as we do with util/multirun.sh today), we should be able to say "here is a directory full of manifests and SA configuration info --- please perform promotions for all manifests found there". This is purely a convenience function, but very real and necessary.

Practically speaking, once this feature is

[2019-07-08 23:29] listx commented on #38
/remove-lifecycle stale

[2019-07-09 16:43] amy opened #65 "Create test Google service account"
From: https://github.com/kubernetes-sigs/k8s-container-image-promoter/pull/62

[code]

[2019-07-09 16:45] amy commented on #65
/assign @listx @thockin

[2019-07-09 16:52] amy commented on #65
Also related: https://github.com/kubernetes/k8s.io/blob/master/infra/gcp/lib.sh
@dims suggests we should update this script: https://github.com/kubernetes/k8s.io/blob/master/infra/gcp/lib.sh

[2019-07-09 17:32] listx commented on #65
And for the record, we should choose a *new* test-only SA, and not reuse `k8s-infra-gcr-promoter@k8s-artifacts-prod.iam.gserviceaccount.com` for this.

[2019-07-09 17:43] listx commented on #36
/remove-lifecycle stale

[2019-07-09 17:47] amy commented on #65
In progress: Working on updating the lib.sh script (and learning some bash)

[2019-07-09 17:49] listx commented on #39
/remove-lifecycle stale

[2019-07-09 17:49] listx commented on #39
Apparently there is https://github.com/atlassian/bazel-tools/tree/master/golangcilint

[2019-07-09 22:01] thockin commented on #65
Send me the PR when ready :)

[2019-07-10 15:39] listx commented on #54
There is #67 for this now.

[2019-07-10 15:46] listx commented on #43
This is now tied to #64, because that will make the promoter act on a set of manifests in a single invocation. This means reconciling all of the renames as well.

[2019-07-10 16:02] listx commented on #5
This is now tied to #8.

[2019-07-10 16:36] amy opened #69 "Protecting promotion credentials"
Broad issue to track how we're going to make sure the promotion credentials to the production registries will be secured against bad actors.

[2019-07-10 16:38] amy opened #70 "k8s.io disaster recovery plan"
Broad issue to track what our disaster recovery plan is if k8s.io registry somehow gets deleted.

One suggestion was creating a backup registry that snapshots k8s.io registry.

[2019-07-10 17:56] amy commented on #69
tagging @cblecker

[2019-07-10 18:16] listx opened #71 "add --(re)strict-namespace flag to force images to be promoted within a particular namespace"
E.g., images coming from `gcr.io/foo-project/...` should only be able to be promoted as `k8s.gcr.io/foo-project/...`. That is, the top-level folder name should match `1:1`.

This check would kick in after we do the rename logic (it's still possible to rename images for production); it's just that with the flag turned on we would perform an extra check prior to promotion.

This feature could also b

[2019-07-10 18:35] cblecker commented on #69
Prow has concepts like a "trusted cluster" that we use for handling highly privileged credentials (like github owner creds). The promotion job should be set to run on our trusted cluster.

cc: @BenTheElder @fejta

[2019-07-10 18:39] BenTheElder commented on #69
So my $.02

If we run every publish / build job in "the" trusted cluster it may not be so trusted anymore and a random SIG project may have something sneak into their built that say, steals @k8s-ci-robot's credentials...

Much as we might not want _more_ clusters, I think build type stuff should generally not be in the same cluster as Prow's credentials, except maybe building Prow itself.

[2019-07-10 18:42] BenTheElder commented on #69
Also note that today the trusted cluster == where prow's services run. Even if we decide that's not a problem trust wise, piling on more builds is going to require at least expanding the capacity.

---

IMHO we should also put a default request / resource limit in the trusted cluster(s) to avoid problems before we add much more to it, since there's less workloads it will be easier. That cluster is

[2019-07-10 18:47] amy commented on #69
Also tagging @thockin

[2019-07-10 19:05] cblecker commented on #69
Building the image is different than the promotion job. The promotion job should be just one job for all the staging repos if I understand correctly (consumes one config of the hashes to copy up)

[2019-07-10 19:10] BenTheElder commented on #69
👍

That should absolutely run there :-)
Please consider my other comments irrelevant off topic.

[2019-07-10 20:13] amy commented on #70
There are 2 things:
1.) Does the lack of a disaster recovery plan (aka maintaining the status quo today) prohibit the image promoter from being released to the general public?
2.) Initial brainstorming on possible disaster recovery options.

[2019-07-10 20:27] amy commented on #70
cc/ @thockin @listx @spiffxp

[2019-07-10 21:11] thockin commented on #70
IMO it does.  I don't want to be over-pedantic but if we don't force ourselves to do it, it won't get done. :(

Brainstorming: This doesn't have to be the most amazing, elegant, automatic thing in the world.  It might simply be:

* A daily job (running where? how do we know if it fails or stops running) that copies all images by SHA to another GCS which has a much smaller set of things that can ac

[2019-07-10 21:31] thockin commented on #71
This is a bt more nuanced.  Specifically, images coming from `gcr.io/k8s-staging-foo-project/*` should only promote to `k8s.gcr.io/foo-project/*`.  The difference being that the "project name" in the source is embedded in the name.

Do we need to put that token into the YAML schema for promoter?  E.g.

[code]

or somethng?

[2019-07-10 21:32] #54 closed

[2019-07-10 21:41] thockin commented on #71
Also, we need a special-case for legacy images to have the same name.

[2019-07-10 21:42] amy commented on #63
/assign

[2019-07-10 22:12] listx commented on #71
Hmm, yes. There are many choices here.

So we want `gcr.io/k8s-staging-foobar/...` to be named `xxxx.gcr.io/k8s-artifacts-prod/foobar/...`. I think we should just make the `renames:` field smarter to reuse that part of the codebase, because this is exactly what we are doing (renaming things upon promotion under a particular namespace). The key here is that we are renaming *all* images in the manif

[2019-07-10 22:27] amy opened #72 "Update test registry to use new test service account"
See: https://github.com/kubernetes/k8s.io/pull/302#discussion_r302287618

[2019-07-10 22:28] cblecker commented on #70
Isn't GCR just a GCS bucket fronted by a proxy/API? Could the backend bucket just be backed up/copied? Would the GCP storage transfer service be enough? Or a cron'd gsutil sync?

[2019-07-10 22:56] listx commented on #70
Not as simple as a dumb bucket-wise copy, but: GCR just stores digests of images. As long as there is a reference to it, it won't get deleted. So, we could copy everything into another GCR, but namespace it under a timestamped folder. E.g. gcr.io/backup/20190701/..., and it won't eat up a ton of storage because Docker already de-dupes things.

And we could also try turning on that lifecycle thing

[2019-07-10 23:09] thockin commented on #71
I will leave the schema decisions to you all who have your hands in the
code.  In my mind this is not a "rename" so much as a "rebase" and the
simpler we can express that, the better.  That said, you know the impl and
I don't, so it's your call.

On Wed, Jul 10, 2019 at 3:12 PM Linus Arver <notifications@github.com>
wrote:

[2019-07-10 23:11] amy commented on #65
/close

From clarification in https://github.com/kubernetes/k8s.io/pull/302
These service accounts exist.

[2019-07-10 23:11] #65 closed

[2019-07-10 23:13] amy commented on #72
/close

[2019-07-10 23:13] #72 closed

[2019-07-10 23:29] amy opened #74 "Document service accounts and registries"
It is unclear what permissions and purpose each service account and registry has. We should document this.

[2019-07-10 23:29] amy commented on #74
/kind documentation

[2019-07-11 00:15] listx commented on #71
ACK

[2019-07-11 19:30] listx opened #75 "make json decoding boundaries more robust"
We hit a transient error earlier today when trying to promote this manifest:

https://github.com/kubernetes/k8s.io/blob/1d14e8ec918ec2c71c30b6b0a06ee3ea9f724d01/k8s.gcr.io/k8s-staging-cluster-api/manifest.yaml

The error was:

https://storage.googleapis.com/kubernetes-jenkins/logs/post-k8sio-cip/1149377755071123456/build-log.txt

[code]

Where the Decoder (not our code) choked on the io.Reader han

[2019-07-11 19:54] listx commented on #75
I guess it's possible that we have a race condition in the ReadRepository code, but the stack trace doesn't point to concurrency as the reason AFAICS.

[2019-07-15 17:30] amy commented on #70
+1 on listx's suggestion

[2019-07-15 17:37] javier-b-perez commented on #70
is backing up the GCS bucket good enough? or do we need to do it at GCR level? copy image by image, tags and so

[2019-07-15 18:53] cblecker commented on #70
@listx What happens if the bucket or project gets deleted?

[2019-07-15 21:06] listx commented on #70
@cblecker Can you clarify?

[2019-07-15 21:17] amy commented on #70
/assign @amy

Please continue the discussion. Will write up a google doc of some options for next week's meeting.

[2019-07-16 00:50] cblecker commented on #70
@listx I guess I'm not clear on your proposed multiple GCR with digests proposal. Isn't the GCR just a fronted underlying GCS bucket scoped to a project?

[2019-07-16 17:24] listx commented on #41
/remove-lifecycle stale

[2019-07-16 17:56] listx commented on #70
Yes. But AFAIK GCS alone does not auto-dedup data. A quick google search led me to https://cloud.google.com/solutions/partners/storreduce-cloud-deduplication which supports my assumption.

Ultimately we would be taking daily(?) snapshots of all the images in k8s.gcr.io. If deduplication is free (via another Docker Registry such as GCR), then we can even take hourly snapshots and it won't matter mu

[2019-07-16 20:14] listx commented on #42
/remove-lifecycle stale

[2019-07-17 17:02] listx opened #76 "update promoter docker image version to master HEAD"
Also, update the Prow jobs that reference the promoter to use the new version.

[2019-07-17 17:16] listx commented on #76
Opened https://github.com/kubernetes/test-infra/pull/13491

/cc @Amy @detiber @dims

[2019-07-17 17:49] listx commented on #75
We've hit this nil dereference error again in the wild using version `v2.0.1-0-g4db722e`: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/post-k8sio-cip/1151515653241311232

I think I have a better idea about why this may be happening.

First, It could be that we are getting throttled, such that the request body is empty. When the promoter runs in Prow, it is using a particular IP address tha

[2019-07-17 21:22] listx commented on #76
This is blocked on #75

[2019-07-17 22:41] listx commented on #75
I will try to use https://godoc.org/k8s.io/apimachinery/pkg/util/wait#ConditionFunc to introduce a well-tested retry mechanism to better deal with throttling/network issues.

[2019-07-22 17:25] listx commented on #64
I think this would be simpler to implement if we made it so that all manifests within a directory all share the same SA creds. This is how it would look like in practice anyway, where we would give `k8s-infra-gcr-promoter@k8s-cip-test-prod.iam.gserviceaccount.com` the rights to read from all staging GCRs (that is, we already want to limit the number of write-access SAs to the prod GCR, so we would

[2019-07-24 19:26] listx commented on #64
Putting down some more thoughts here to record the discussion in the wg-k8s-infra meeting today: we can greatly simplify the problem if we ignore multi-manifest consistency and frame this task around just making the logic in `util/multirun.sh` smarter. That is, we can make that logic make the promoter run for *any* manifest (perhaps matching a certain path prefix) that changed across git commits.

[2019-07-24 23:19] listx commented on #64
Another note: we still have to make the promoter read in *all* manifests recursively for those sanity runs that ensure that the intent is realized for *all* images. The git delta stuff doesn't make sense for this use case.

[2019-07-29 19:53] listx commented on #64
I have begun implementing this. Along the way, I have come across an idea for simplifying how we determine what to promote. Expect a PR this week for this @justinsb

[2019-07-30 18:10] listx commented on #63
I am working on some changes that directly affect this issue. Can you assign it to me @amy ?

[2019-07-30 22:22] listx commented on #75
With #78 (which actually did use the `ExponentialBackoff` function) and #80, I'm going to close this for now.

[2019-07-30 22:22] #75 closed

[2019-07-30 22:23] listx commented on #7
Closing this issue for now because we don't plan on using garbage collection for the promoter any more (it will be a separate tool). As this issue won't be worked on for the foreseeable future, I'm closing this.

[2019-07-30 22:23] #7 closed

[2019-07-30 22:24] listx commented on #14
Closing this as garbage collection is no longer in our radar.

[2019-07-30 22:24] #14 closed

[2019-07-30 23:16] listx opened #82 "make the warnings about extra tags found in dest registries optional"
See https://github.com/kubernetes-sigs/k8s-container-image-promoter/pull/81#discussion_r308974334

[2019-08-01 19:10] #63 closed

[2019-08-06 22:18] justinsb commented on #71
I was chatting with @listx about this - I think it could be pretty accident-prone to "really" rename images, rather than just changing the subdir.

A slightly easier syntax could be to put the subdir into the registry name, which is pretty similar to what we did (accidentally) on GCS:

[code]

[2019-08-06 22:53] listx opened #90 "run s/registry/repository find-and-replace across the codebase and README"
In practice, we only really deal with repositories, not registries (registries are unique top-level endpoints --- so in the case of GCR, the regional registries). The constant back/and/forth between these two terms in the codebase is rather confusing.

[2019-08-06 22:56] listx commented on #71
I think this can be done relatively easily. I will create an e2e test that confirms this behavior.

[2019-08-07 16:02] spiffxp commented on #64
/close
this is done via above PRs

[2019-08-07 16:03] spiffxp commented on #64
/reopen
sounds like it's coded but not deployed, let's close this once the new functionality is in a version of the code that's currently running

[2019-08-13 20:48] listx commented on #49
/remove-lifecycle stale

[2019-08-16 00:18] listx commented on #70
Short of reaching consensus on the initial backup approach, let's try to identify some invariants.

(1) job duration < 24 hrs: I think we want the backups to happen at least daily.
(2) disk usage: because of (1), we *really* want to de-dupe data. This rules out GCS bucketwise copies (although, one could argue, we could have a rolling window of backed-up snapshots --- e.g. only the last 30 days).
(

[2019-08-16 01:02] listx commented on #70
Looks like there is already a _GCS_ disaster recovery script underway here: https://github.com/kubernetes/k8s.io/pull/334. We should probably follow the same infrastructural patterns established there.

[2019-08-20 00:49] justinsb commented on #70
The pattern that I'm proposing in #334 is a different script for copying everything, with a no-overwrite / no-delete policy (I implemented that in code, @thockin pointed out that we can probably just use retention policy).

However, for registries which naturally de-dup I agree with the suggestions of using a date suffix.

And nice find on gcrane @listx !  How about:

[code]

Of course, it'll take

[2019-08-21 19:15] listx commented on #6
Fixed with

https://github.com/kubernetes/test-infra/pull/13909
https://github.com/kubernetes/test-infra/pull/14000

/close

[2019-08-21 19:15] #6 closed

[2019-08-21 19:15] listx commented on #8
Fixed with https://github.com/kubernetes/test-infra/pull/13909

/close

[2019-08-21 19:15] #8 closed

[2019-08-21 19:16] listx commented on #64
Fixed with https://github.com/kubernetes/test-infra/pull/14012

/close

[2019-08-21 19:16] #64 closed

[2019-08-21 19:18] listx commented on #5
This is fixed. In a twist of irony, there isn't much shell code in the codebase any more, because we delegate so much to bazel. So, there isn't much "CI logic to put into separate shell scripts" to begin with.

/close

[2019-08-21 19:18] #5 closed

[2019-08-21 19:19] listx commented on #39
This doesn't really matter any more, because we just use the golangci/golangci-lint Docker image in the linter job in Prow (so there's no need to track how to install golangci ourselve).

/close

[2019-08-21 19:19] #39 closed

[2019-08-21 19:20] listx commented on #71
This was fixed with https://github.com/kubernetes/k8s.io/pull/339

/close

[2019-08-21 19:20] #71 closed

[2019-08-21 19:22] listx commented on #76
This was fixed a while back.

In hindsight, such updates to the promoter version used by Prow happen quite frequently and probably don't deserve their own issue like this.

/close

[2019-08-21 19:22] #76 closed

[2019-08-21 19:23] listx commented on #43
This was fixed as part of #64.

/close

[2019-08-21 19:23] #43 closed

[2019-08-21 19:24] listx commented on #36
Fixed by https://github.com/kubernetes/test-infra/pull/13909

/close

[2019-08-21 19:24] #36 closed

[2019-08-21 21:43] listx commented on #49
This depends on https://github.com/kubernetes/k8s.io/pull/341

[2019-08-26 22:39] listx opened #113 "update documentation around *everything* related to the promoter (add playbook)"
Describe how to fix common issues

- how to troubleshoot Prow job failures
- how to update Go packages
- how to update the Prow jobs (update Promoter docker image)

/assign @listx

[2019-08-27 18:28] listx opened #114 "allow tag-less promotions (promote images without tagging them)"
Today the promoter will only promote those images that have tags in them. This feature will allow images to be promoted even if they don't have tags.

We could easily shell out to https://github.com/google/go-containerregistry/tree/master/cmd/gcrane#cp instead of the usual "gcloud container add-tag" command we use; the only annoying part here is that we would have to ship the gcrane binaries from

[2019-08-28 18:54] listx opened #117 "make the promoter print out a JSON dump (summary) of everything that happened"
This paves the way for other tooling to integrate with the promoter, and also simplifies what to look at when we parse the logs as humans after a promotion run (in Prow).

The logs are cumbersome to parse by human eyes, so at least printing out a (prettified) JSON at the very end of a promotion run could make it easier to see what went OK and what went wrong.

[2019-08-29 01:25] listx opened #119 "e2e tests: dynamically fetch the image digests"
Instead of hardcoding the digests in the `test-e2e` directory, dynamically calculate it on-the-fly, as a human would, for authoring the manifests and promoting images with them.

This is necessary because the image digests for the golden images depend on the gzipping mechanism that lies on the client machine (not server-side). So technically it is possible that the gzip library on the developer wo

[2019-08-30 21:38] listx commented on #114
Cross-reference links: #70 #118

[2019-08-30 22:06] listx commented on #70
Are there any thoughts about using the promoter directly for performing backups? We should be able to do this once #118 is merged.

The backup process would be:

1. Construct a "backup" Promoter manifest. We can use the `-snapshot` flag to record all reachable images in a repo. (This output is 99% of a regular Promoter manifest, minus the `registries:` field).
2. Promote all images in the backup m

[2019-09-03 20:51] listx opened #120 "known issue for k8s.io/kubernetes/pkg/credentialprovider"
It's probably due to our reliance on go-containerregistry, but currently we get this gazelle error during a fresh build of `make` for the `k8s.io/kubernetes/pkg/credentialprovider` import:

[code]

It's probably related to https://github.com/google/go-containerregistry/issues/496

This is just a tracking issue for the upstream error.

[2019-09-04 01:06] cblecker commented on #58
/remove-lifecycle stale

[2019-09-05 08:42] glyn opened #121 "Build fails on macOS : date: illegal option -- -"
With bazel 0.29, `make build` fails on master (93aef5cdde14c6c68ff6456a7117d4b4c6e018f7) on macOS with:
[code]

[2019-09-13 18:49] listx opened #124 "fix linter prow job"
Currently the linter is failing because (probably) the golangci upstream image changed how it reads the ignore settings.

[2019-09-13 19:46] #121 closed

[2019-09-16 23:51] listx commented on #124
Fixed with #125

[2019-09-16 23:51] #124 closed

[2019-09-16 23:54] listx commented on #41
This might be a non-issue because in practice, renames are rarely necessary (now that we understand that image name "rebasing" is doable).

[2019-09-18 18:31] listx opened #130 "add support for promoting V2 Schema 1 (2.1) images"
This is because the way in which we use the new go-containerregistry library for doing the image copies only supports Version 2 Schema 2 images.

There are several choices:

1. wait for go-containerregistry to expose its `copySchema1Image` function that `gcrane` internally uses
2. shell out to `gcrane` (which is the frontend CLI for go-containerregistry)
3. vendor all Go dependencies (including go

[2019-09-18 23:55] jonjohnsonjr commented on #130
Use https://godoc.org/github.com/google/go-containerregistry/pkg/crane#Copy

[2019-09-19 01:01] jonjohnsonjr commented on #19
Manifest lists generally don't have foreign layers, but manifests do.

As of https://github.com/google/go-containerregistry/pull/506 this should just work.

Can this be closed?

[2019-09-19 01:02] jonjohnsonjr commented on #70
`gcrane cp -r` should work for this

[2019-09-19 01:04] jonjohnsonjr commented on #119
This is not true. Clients gzip layers before uploading them and ungzip them after downloading. Did you see this somewhere?

[2019-09-19 19:52] listx commented on #119
Oops, looks like I misremembered (your comment jogged my memory, and I remember it being client-side from an email thread many months ago). I still think this is an issue because the e2e tests are written on developer workstations and it could very well be that the gzip library on a developer machine doesn't match the gzip library used inside the Prow job. Will update the issue description.

[2019-09-20 04:02] #114 closed

[2019-09-20 20:31] #130 closed

[2019-09-20 21:16] listx commented on #70
I am working on a doc to sum everything up + an initial implementation. Will share with this thread soon... stay tuned!

[2019-09-21 00:22] listx commented on #19
As we rely more on go-containerregistry, I will defer to the upstream fix and call this closed.

[2019-09-21 00:22] #19 closed

[2019-09-23 16:28] #49 closed

[2019-09-23 20:47] listx commented on #70
Here is a writeup of an initial approach/design: https://docs.google.com/document/d/1od5y-Z2xP9mVmg2Yztnv-GQ7D-orj9HsTmeVvNHkzzA/edit?usp=sharing

[2019-09-23 20:53] listx commented on #61
/remove-lifecycle stale

[2019-10-01 23:35] listx opened #138 "promoter manifest: move "registries" field out to a separate YAML location"
This will improve the security posture because it would separate credentials from the image details.

[2019-10-02 19:56] listx commented on #138
One simple idea I have is: we could just make it so that the `images:...` field can be replaced with a `images-link: path/to/images.yaml`. So overall a promoter manifest could look something like:

[code]

and separately in `path/to/images.yaml`:

[code]

This way, we can place the manifest-metadata.yaml in a much more restricted location (can only be approved by 2 or 3 people) and have the images

[2019-10-02 20:07] justinsb commented on #138
I like this a lot - simple, explicit and seems to meet the needs.

Would we have `images-path` be relative to the first file (in which case it would probbaly have a `../` which often makes security people nervous)?  Or we could have it be relative to a base that had to be passed in (but then there's some invisible state)

I was wondering about list of paths vs single path, I suspect YAGNI on the l

[2019-10-02 20:08] justinsb commented on #138
PS I also agree with deprecating renames.

[2019-10-02 22:32] listx commented on #138
I think it would have to be relative to the location of the `manifest-metadata.yaml` location. But I don't think the `../` would be necessary because you could just have it in a subdirectory, like this:

[code]

and so on for each staging repo. And for example the `staging-a/metadata.yaml` could have an entry like `images-path: images/images.yaml`.

I can't say if this is better (maybe it is?) but

[2019-10-02 22:43] listx commented on #138
Discussed offline with @justinsb, but I think we can start with the simplest version (Example 1) with just a single path to the images (we could break it up later if we wanted to as in Example 2 and Example 3 if necessary).

I also forgot to mention in my last comment that one advantage of *not* going the extra mile with Example 2 or 3 is that the existing `-snapshot` YAML output would not have to

[2019-10-10 16:52] listx commented on #41
Renames are no longer supported as of #139.
/close

[2019-10-10 16:52] #41 closed

[2019-10-11 18:16] listx commented on #138
Just to elaborate a little more, I think the final directory structure for k8s.gcr.io would be:

[code]

This way, modifying the `images` directory won't affect the "timestamp" of the changes to the locked-down `manifests` directory (clearer separation of concerns/history).

[2019-10-11 21:20] #138 closed

[2019-10-14 21:14] listx opened #143 "add maximum image size presubmit check"
We want a separate "image size check" presubmit check for new images being promoted. We can get the image size of all images in two ways:

[code]

The field `imageSizeBytes` of the 2nd method is a summation of the layer-by-layer sizes presented under the `layers` field of the 1st method.

[2019-10-21 16:36] listx opened #144 "create qualification tests for images in staging"
As noted in https://github.com/kubernetes/k8s.io/pull/406#pullrequestreview-304685191, the staging image up for promotion should have a link to it being tested (maybe some more thorough e2e tests going through various flags, etc). This could be a Prow postsubmit job. That job could run against `master` branch, and for every update to it:

1. pushes up a new version to the staging repository
2. run

[2019-10-25 16:28] listx opened #145 "exit with an error if errors (auth errors, etc) are encountered during the promotion step"
E.g., this job should have exited with an error: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/post-k8sio-cip/1187747140168847360 because the promotions failed due to an authorization error.

[2019-10-29 00:56] listx commented on #82
/close

[2019-10-29 00:56] #82 closed

[2019-10-29 10:28] rajibmitra commented on #144
I would like to work on the prow job if its ok @listx   @rikatz

[2019-10-29 11:33] rajibmitra commented on #144
/assign rajibmitra

[2019-10-29 11:40] rikatz commented on #144
For me it’s ok :)

I just want to follow the work also (as a curious person!)

Em ter, 29 de out de 2019 às 07:28, Rajib Mitra <notifications@github.com>
escreveu:

[2019-10-29 17:07] listx commented on #144
Sounds good to me. Please write a design doc of some sort to sketch out your thoughts first before pushing up an implementation. You can then share it with https://groups.google.com/forum/#!newtopic/kubernetes-wg-k8s-infra

[2019-11-04 23:27] listx commented on #90
/remove-lifecycle stale

[2019-11-06 19:36] listx commented on #38
/remove-lifecycle stale

[2019-11-08 01:33] listx commented on #74
/remove-lifecycle rotten

[2019-11-14 20:51] listx opened #150 "reverse behavior of -no-service-account flag"
This way, service accounts are not attached by default to the request in case someone forgets to attach `-no-service-account` flag.

[2019-11-14 20:57] listx opened #151 "ParseThinManifestFromFile: limit path traversal"
Make the traversal path (1) relative-only and (2) limit its scope to only be within the `-thin-manifest-dir` directory.

[2019-11-15 18:47] listx opened #152 "make --dry-run=True (default) imply --no-service-account"
That is, do NOT automatically attach/activate credentials.

[2019-12-05 12:43] bartsmykla commented on #151
/assign me

[2019-12-05 12:44] bartsmykla commented on #151
/assign bartsmykla

[2019-12-05 14:11] bartsmykla commented on #151
@listx I'm not sure if `ParseManifestFromFile` also should be limited, so I'll create PR with limiting both of them (it sounds to me as more reasonable), but if this one shouldn't be limited I'll change the PR.

[2019-12-05 17:12] listx commented on #152
I think this is a dupe of #150

[2019-12-05 17:12] listx commented on #152
/close

[2019-12-05 17:12] #152 closed

[2019-12-06 20:25] #38 closed

[2019-12-10 07:27] #150 closed

[2019-12-11 05:45] listx opened #157 "add a utility to check tag moves at the manifest level (independent of GCR state)"
Given two versions of promoter manifests, ensure that tags are never moved. That is, going from manifest 1 to 2, there should only be *new* tags. All other cases, such as tag deletions (which can happen for legitimate reasons) or moving tags (such as swapping tags maliciously as in https://github.com/kubernetes/k8s.io/pull/499), should result in an error.

This check (let's call it delta checker a

[2019-12-11 05:45] listx commented on #157
An alternative might be to raise an error during a --dry-run of the promoter.

[2019-12-11 10:51] listx commented on #157
#158 addresses this, although it still relies on registry state to determine if a tag move is necessary in order to satisfy the manifest's intent.

I think this is OK, because ultimately what we want to do is to never touch existing tags (if they conflict with the manifests, we error out and let the user know; at least this way the PR will fail the --dry-run check).

After merging this PR, I need

[2019-12-11 17:10] listx commented on #61
This is actually not super high on the priority list because it would require changing a lot of how the flags are handled. It might even be a bad thing to go for right now.

[2019-12-12 07:50] listx commented on #117
/remove-lifecycle stale

I think this issue will really help increase the readability of the logs, which are currently pretty verbose.

[2019-12-12 07:51] listx commented on #74
It would help if someone could go through the docs and ask me lots of questions so that I can answer/address them by improving the docs.

[2019-12-12 07:52] listx commented on #4
This should be easy to do, considering how we use bazel in our e2e tests and such.

[2019-12-12 07:52] listx commented on #4
/remove-lifecycle stale

[2019-12-12 07:54] listx commented on #145
We just need to keep around a state variable that is globally written-to (use mutexes/locks to protect it across the various goroutines), which stores the state of the promoter, and exit with it.

[2019-12-13 22:09] #42 closed

[2019-12-31 00:47] #157 closed

[2020-01-02 23:21] listx commented on #151
Closing this in favor of https://github.com/kubernetes-sigs/k8s-container-image-promoter/pull/161, which is more comprehensive (and stricter!). Please take a look @bartsmykla

[2020-01-06 22:10] #151 closed

[2020-01-08 17:25] listx opened #165 "auditor: make sure that it can handle information about child images in manifest list images"
Problem:

- user adds fat manifest digest (without children) to promoter manifests,
- user pushes fat manifest list to GCR
  - Docker pushes one child image at a time, until all are pushed
  - then the fat manifest is created at the end
- the child image push events will come in from Pub/Sub, but the auditor will only knows about parent images, so the child image push events will not be verified

[2020-01-08 17:25] listx commented on #165
/cc @thockin

[2020-01-11 01:54] listx opened #167 "add e2e test case to make sure the promoter fails with an error if we attempt to perform a tag move"
Even though https://github.com/kubernetes/k8s.io/pull/499#issuecomment-573267644 confirmed that the presubmit check will fail if a tag move is attempted, we should additionally add an e2e test to really set this behavior in stone.

The existing e2e tests file should be expanded to cover expected failures for tests where we expect the promoter to fail (e.g., moving tags).

[2020-01-22 19:54] listx commented on #165
#170 addressed this

[2020-01-22 19:54] #165 closed

[2020-01-23 21:11] #10 closed

[2020-01-23 21:11] #9 closed

[2020-01-24 00:14] #113 closed

[2020-01-27 18:43] rajibmitra commented on #144
/remove-lifecycle stale

[2020-01-27 19:15] rikatz commented on #144
@rajibmitra do you need something (any help, insights) to write that document? :)

[2020-01-31 23:21] #120 closed

[2020-02-01 03:25] #58 closed

[2020-02-11 00:10] cblecker commented on #69
/remove-lifecycle rotten

[2020-02-12 00:46] listx commented on #69
I believe this might just go away once Workload Identity gets used by the Prow jobs (sometime in H12020).

[2020-02-13 23:36] listx opened #180 "use workload identity for all prow integrations"
This way, we don't have to give service account creds to Prow admins.

[2020-02-13 23:36] listx commented on #180
/cc @fejta

[2020-02-13 23:38] fejta commented on #180
Do you know anywhere that you are explicitly requiring a secret.json file? If not then we can just remove it and validate things work

[2020-02-13 23:38] fejta commented on #180
ref https://github.com/kubernetes/test-infra/issues/15806

[2020-02-14 00:18] listx commented on #180
Here are the promoter's Prow jobs that use volume-mounted creds:

- [`post-k8sio-cip`](https://github.com/kubernetes/test-infra/tree/master/config/jobs/kubernetes/test-infra/test-infra-trusted.yaml) ([logs](https://prow.k8s.io/job-history/kubernetes-jenkins/logs/post-k8sio-cip))
- [`ci-k8sio-cip`](https://github.com/kubernetes/test-infra/tree/master/config/jobs/kubernetes/test-infra/test-infra-tru

[2020-02-14 18:59] fejta commented on #180
What happens when this flag is missing? https://github.com/kubernetes/test-infra/blob/97c0e7b13dda19b6a34bf04140151b7ef8d27fbb/config/jobs/kubernetes/test-infra/test-infra-trusted.yaml#L688

[2020-02-14 21:08] listx commented on #180
Then the service account creds are never loaded. This means go-containerregistry will have to fall back to some other auth mechanism (presumably).

I am not sure how WI interacts with go-containnerregistry's Copy() function which I use to push images to registries.

[2020-02-14 23:35] jonjohnsonjr commented on #180
That loads credentials from the docker config file. I don't have much context for this issue but assuming you're doing something like:

[code]

... to wire up gcloud as a config helper, this might work? I'm not sure if gcloud's credential helper actually works with workload identity.

Here's a primer on docker auth: https://github.com/google/go-containerregistry/blob/master/pkg/authn/README.md

If

[2020-02-14 23:40] fejta commented on #180
Can you point me to the code that does this? I've mostly just had to do:
* Only call `gcloud auth activate-service-account` to a file if the env variable is set
* Always call `gcloud auth configure-docker` even when the env isn't set

Example: https://github.com/kubernetes/test-infra/commit/966711a1eba124dca3f55c2936369d3d8a483a42#diff-9f51d141e18f12470d41311d7ced5631

[2020-02-16 21:33] #119 closed

[2020-02-19 19:54] jonjohnsonjr commented on #180
The crane package uses `authn.DefaultKeychain` by default: https://github.com/google/go-containerregistry/blob/4336215636f7ace860f1e499cf5033d12073a44b/pkg/crane/options.go#L33

Which is just a [thin wrapper](https://github.com/google/go-containerregistry/blob/4336215636f7ace860f1e499cf5033d12073a44b/pkg/authn/keychain.go#L61) around github.com/docker/cli/cli/config, which fetches credentials base

[2020-02-19 23:54] fejta commented on #180
Linus, do you have opinions about the way you want these jobs to run `gcloud auth configure-docker`?

It isn't obvious to me that `google/cloud-sdk` has comes preconfigured for docker.  Most obvious solution would be to add a layer that adds this file to /root/.docker/config.json:
[code]

I can send a PR to do that, or I can do something else you'd prefer

[2020-02-19 23:56] fejta commented on #180
Actually I don't even think that's necessary, this should just work as expected: https://github.com/kubernetes-sigs/k8s-container-image-promoter/blob/b7378030785b6cf6da2cde095eb68ff06483712b/pkg/filepromoter/token.go#L40

[2020-02-19 23:57] fejta commented on #180
/assign

[2020-02-20 00:25] listx commented on #180
FWIW I already set up a json like that in the Prow jobs. E.g. https://github.com/kubernetes-sigs/k8s-container-image-promoter/blob/90a75d7781a432cd5e9b56446af4d49747ff986b/test-e2e/cip/e2e-entrypoint-from-container.sh#L31-L34

[2020-02-20 08:37] BenTheElder commented on #69
workload identity happened today. that does not mean all things actually
use it though (in fact most things do not)

On Tue, Feb 11, 2020 at 4:46 PM Linus Arver <notifications@github.com>
wrote:

[2020-02-26 02:10] listx opened #183 "improve logging for cip-auditor"
Notes from initial prod deployment of cip-auditor

On 2020-02-25 3:57PM, @listx executed `./deploy.sh k8s-artifacts-prod 5c9a73a90fdfd08adaf3d53ae863144922958911952dfa67cbf9a0d33dedde63` in order to deploy the cip-auditor Cloud Run service to the k8s-artifacts-prod project for the first time.

Shortly thereafter, @thockin pushed up a dummy image to us.gcr.io/k8s-artifacts-prod/suspicious/envelope@

[2020-02-26 02:13] listx commented on #183
Aside: the e2e tests that we run for the auditing mechanism did not pick this up because those tests grep through logs in the explicitly-named log `cip-audit-log`.

[2020-02-26 02:24] listx opened #184 "cip-auditor: always generate UUID for instance"
cip-auditor runs with a UUID that is generated for each invocation. This UUID is injected into every message that is logged, to ease fetching logs from Stackdriver's web console. It currently fetches the UUID from the `CIP_AUDIT_TESTCASE_UUID` env var, but for production deployments, this var is not defined. And so we get log messages like `() s.ThinManifestDirPath: k8s.gcr.io` where the `()` is m

[2020-02-26 02:28] listx opened #185 "cip-auditor: fix log formatting error"
During the initial prod deployment of the auditor (and some real-world testing) as described [here](https://github.com/kubernetes-sigs/k8s-container-image-promoter/issues/183), we discovered the following log printing error:
![image](https://user-images.githubusercontent.com/725613/75305958-75537400-57fc-11ea-8393-d3128b1b9585.png)

This should be fixed!

[2020-02-26 02:32] listx commented on #183
So, I've discovered that I can set the loggers to be more specific about the labels that are attached to them. Upon creation of the [loggers](https://github.com/kubernetes-sigs/k8s-container-image-promoter/blob/a973037395d19c9f425a778a8a63c52c8dd1c5b2/lib/audit/auditor.go#L280-L282), we can set more options as described here https://godoc.org/cloud.google.com/go/logging#Client.Logger. Specifically

[2020-03-03 23:44] listx opened #186 "cip-auditor: add slack integration"
By default the Stackdriver Error Reporting service sends an email. For high-volume inbox owners, this is probably just not good enough (might also get filtered out by email filters). Better to publish the errors on Slack so that everyone knows. We could publish to the #wg-k8s-infra channel to start with.

[2020-03-04 03:20] dims commented on #186
oof! let's please create a separate channel unless this is a very very low volume of notification

[2020-03-04 04:25] listx commented on #185
I will work on this tomorrow to get it fixed ASAP.

[2020-03-04 08:43] bartsmykla commented on #186
Agree with @dims but also agree it's good to publish the errors to slack

[2020-03-04 10:42] bartsmykla commented on #90
/remove-lifecycle rotten

Hi @listx!
Is this still a thing?

[2020-03-05 00:07] listx opened #188 "cip: fix fatal bug in SplitByKnownRegistries"
@thockin TL;DR: Allowing images to be pushed to the root directory currently breaks the promoter. Fix on the way...!

Pasted error log from ci-k8sio-cip run from earlier today:

[code]

(see https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-k8sio-cip/1235320791898263552)

This happens inside the `SplitByKnownRegistries(unparsed_name, prefixes)` function, iff the registry name and the full im

[2020-03-05 00:24] listx commented on #188
I noticed that the `SplitByKnownRegistries` function does not have a corresponding unit test. Fixing that now.

[2020-03-05 02:02] #188 closed

[2020-03-05 02:43] listx commented on #185
This was fixed in #187.

/close

[2020-03-05 02:43] #185 closed

[2020-03-06 00:54] justaugustus opened #190 "[Feature request] Add CLI command to dump and merge an image manifest for promotion"
As we move closer to the vanity domain flip (ref: https://github.com/kubernetes/release/issues/270), Release Managers will be responsible for promoting official images via the promoter, instead of anago.

What I'd love is a "simple" CLI to:
- dump images digests+tags from a staging GCR
- read out the manifest from k/k8s.io
- merge the dumped images into the promotion manifest

Example invocation:

[2020-03-06 00:59] listx commented on #90
Yes --- some low-hanging fruit for people wanting to contribute.

[2020-03-06 01:00] listx commented on #184
Fixed with #187.

[2020-03-06 01:00] #184 closed

[2020-03-06 06:11] bartsmykla commented on #90
Great! I will have it in mind :-)

[2020-03-06 06:20] bartsmykla commented on #70
Hi @listx what is the status of this issue? Do you think we should have it open?

[2020-03-06 06:22] bartsmykla commented on #69
@amy @listx what is the status of this issue currently?

[2020-03-06 06:24] bartsmykla commented on #183
@listx do you think we can change this issue to be `good-first-time-issue` maybe?

[2020-03-06 06:30] fejta commented on #69
https://github.com/kubernetes/test-infra/pull/16463 is waiting for some review and is part of what is needed

[2020-03-06 06:32] bartsmykla commented on #69
Thank you @fejta for update!

@listx I know you have a lot on your plate currently but would you be able to do some quick review for @fejta?

[2020-03-07 00:10] listx opened #191 "auditor fails to parse valid image references"
During the backfill https://github.com/kubernetes/k8s.io/pull/632, a buggy behavior was observed where the auditor could not parse certain image references.

The following images all triggered a `TRANSACTION REJECTED: could not determine source registry:` error:

[code]

correction: the images are located in the `{asia,eu,us}` regions --- but they have been removed from the above paste for simplic

[2020-03-07 04:13] cblecker commented on #70
/remove-lifecycle rotten
/reopen

Reopening to give @listx a chance to triage.

[2020-03-09 18:04] listx commented on #70
Yup this should stay open. There needs to be more docs around how to handle the scenario of (omg the prod GCR is messed up, how do I recover?).

/assign @listx

[2020-03-09 18:04] listx commented on #70
/unassign @amy

[2020-03-09 18:19] listx commented on #183
I'm not sure, mainly because the verification requires some jumping around the GCP console which is something not everyone is familiar with.

[2020-03-09 19:33] listx commented on #191
So the right way to fix this is to inject some much-needed unit-tests for the `Audit()` function. The problem with the existing implementation is that there is no way to test it without actually going over the network (to log things, etc). I'll need to break it up and add some unit tests along the way.

[2020-03-10 03:06] listx commented on #191
/reopen

This isn't fixed yet.

[2020-03-10 06:18] bartsmykla commented on #183
got it

[2020-03-10 06:56] bartsmykla commented on #70
I'm gonna assign myself to it too cause I think it's important topic we should work on sooner or later.

/assign

[2020-03-10 21:48] listx commented on #180
The https://github.com/kubernetes/test-infra/pull/16724 PR reverted https://github.com/kubernetes/test-infra/pull/16463, because we saw permissions issues like this:

[code]

This was most likely caused by the lack of a WI permission binding that needed to be actuated in the k8s-artifacts-prod project for the Prow bot account, like so:

[code]

I need to add this binding into the infra scripts set

[2020-03-11 09:18] bartsmykla commented on #145
/remove-lifecycle stale

[2020-03-11 22:47] listx commented on #180
Pasting from https://github.com/kubernetes/k8s.io/pull/655#issuecomment-597910313:

/cc @thockin

[2020-03-12 04:59] bartsmykla commented on #191
Hi @listx. I see you are working on fixing the issue, but could you maybe give few words of summary why parsing this image references was failing?

[2020-03-12 17:59] listx commented on #191
The parsing logic was too limited (very brittle!) and didn't cover enough cases. #199 makes the parsing more robust, mainly by empowering the Contains() method to better gauge whether a given promoter manifest is responsible for the child manifest digest in the Pub/Sub payload.

[2020-03-13 04:34] listx commented on #143
/reopen

[2020-03-14 01:19] listx commented on #191
I created #200 to add more tests, including an e2e test. I then made #201 to just make sure I could reproduce the behavior discussed in this bug (which I did), so #199 and #200 are ripe for merging. See https://github.com/kubernetes-sigs/k8s-container-image-promoter/pull/201#issuecomment-598987390 for more info.

After we get those changes merged, I think I will create 1 more PR to fix #183. Then

[2020-03-14 04:51] listx commented on #117
/remove-lifecycle stale

[2020-03-14 04:52] listx commented on #74
/remove-lifecycle stale

[2020-03-14 04:52] listx commented on #4
/remove-lifecycle stale

[2020-03-17 03:04] listx commented on #190
Thinking out loud here: the tool could write images back into, e.g., `images.yaml`, but some things get pretty tricky due to marshaling yaml back out to a string. For example, marshaling the manifest struct back out will (1) most likely result in the `dmap` field becoming alphabetically-ordered (not all people do this), and (2) result in comments becoming lost. If the underlying `images.yaml` is t

[2020-03-17 22:51] listx opened #202 "disable use of "latest" tag except in the legacy manifest"
We should reject any uses of the `latest` tag for the promoter manifests, except for the legacy backfill manifest.

[2020-03-18 00:16] listx commented on #190
I discovered https://github.com/go-yaml/yaml/issues/459 which suggests that even v3 of the yaml library will alter how comments look.

I could (a) still go with v3's default marshaling function (accepting that some comments will get restyled), or (b) write a custom parser/injector that does not use yaml.Marshal to write things back as yaml and instead just write some new text lines (into the `dmap

[2020-03-19 16:10] listx commented on #190
If we don't care about preserving comments/style, then the problem space becomes drastically reduced and I can write a patch in a day or two.

[2020-03-19 16:15] justaugustus commented on #190
@listx -- Yep! I think as long as we warn in the command run that comments will get dropped in the manifest, then we should be fine.

I'll leave you to it, since you've already got https://github.com/listx/k8s-container-image-promoter/tree/add-manifest-edit-command in progress. :)

[2020-03-19 16:16] justaugustus commented on #190
/assign @listx
/area release-eng
/sig release
/milestone v1.19
/kind feature

[2020-03-19 19:14] listx commented on #190
SGTM

[2020-03-19 19:26] listx commented on #186
I retitled this issue to lower the difficulty bar a bit, but I should just create a new issue instead of hijacking this one. Sorry about the noise!

[2020-03-19 19:27] listx opened #203 "cip-auditor: publish all alerts into a separate Pub/Sub topic"
This makes it easier to fan out the alerts to Slack and/or other services as we see fit.

Related: #186

[2020-03-24 02:17] listx commented on #180
Once https://github.com/kubernetes/test-infra/pull/16917 merges I will have a much better understanding of WI, enabling me to port the remaining Prow jobs to WI systematically. The concept is simple but it's a bit of grunt work to get all the details right.

[2020-03-25 22:50] listx commented on #180
Since https://github.com/kubernetes/k8s.io/pull/695 and https://github.com/kubernetes/test-infra/pull/16948, the ci-k8sio-cip job is working!

I have some other more urgent matters to attend to (need to fixup #199), but I now understand the pattern to apply to workload-identity-ize the rest of the jobs.

[2020-03-26 00:42] listx opened #204 "auditor e2e test: add test case for deleting images"

[2020-03-27 18:49] #191 closed

[2020-03-28 20:08] listx commented on #204
Done in #200

[2020-03-28 20:08] #204 closed

[2020-04-01 16:01] listx opened #207 "add test to ensure nesting subprojects within the same dest directory is supported"
The promoter should allow nested subproject prefixes for the destination, e.g. `gcr.io/foo/bar` and `gcr.io/foo/bar/baz`.

Add a test for this to ensure this is the case.

[2020-04-09 18:14] listx commented on #61
I'm no longer sure this is worth the effort.

@justinsb Has established a pattern with the promobot stuff to make smalller, separate binaries for different tasks. We should just use this pattern to break up future things into smaller components.

/close

[2020-04-09 18:14] #61 closed

[2020-04-10 02:26] listx commented on #167
We already have unit tests for this. Adding an e2e test for this case doesn't add a ton of value, and is certainly low on the priority list.

Closing for now.

[2020-04-10 02:26] #167 closed

[2020-04-10 23:46] fejta commented on #180
/unassign
/assign @listx

Awesome!

[2020-04-13 04:24] listx commented on #143
/reopen

[2020-05-08 15:32] listx opened #212 "exit with error if intent to move tags is detected"
The promoter should exit with an error if the manifest is trying to do something that is prohibited (move tags). This should be the case whether or not the promoter is invoked in dry run mode.

"Invalid manifest intent" errors are distinct from "failed to promote" errors because invalid intent is detectable while only performing read-only operations, *before* any promotions are attempted.

[2020-05-15 05:20] listx commented on #143
/reopen

[2020-05-19 01:21] listx opened #213 "bubble up GCR read errors"
If GCR gives us a read error (e.g., quota overrun, network error or otherwise), we should return an error and retry from the beginning (re-read everything; we could re-read only those paths that failed but it's much easier to just re-do the entire read).

Currently the GCR read functions `ReadRegistries()` and `ReadGCRManifestLists()` both do not return an error (!). This is likely the cause behin

[2020-05-23 17:15] listx opened #214 "auditor: read from all matching source repos for parent/child manifest info"
Recently, we've started creating promotion relationships where 2 different promoter manifests promote into the same destination repo. For example, consider https://github.com/kubernetes/k8s.io/pull/889 which made it so that both `gcr.io/k8s-staging-etcd` and `gcr.io/google-containers` promote into `{asia,eu,us}.gcr.io/k8s-artifacts-prod` (prod). This means that 2 different promoter manifests (the

[2020-05-27 05:57] #214 closed

[2020-06-09 05:58] listx commented on #183
/remove-lifecycle stale

[2020-06-09 05:59] listx commented on #70
/remove-lifecycle stale

[2020-06-09 15:55] listx commented on #145
/remove-lifecycle stale

[2020-06-09 16:32] listx commented on #4
Fixed with #217

[2020-06-09 16:32] #4 closed

[2020-06-12 07:18] listx commented on #74
/remove-lifecycle stale

[2020-06-12 07:19] listx commented on #117
/remove-lifecycle stale

[2020-06-12 15:48] yodahekinsew commented on #117
I can take a look at this issue

[2020-06-12 15:56] listx commented on #117
/assign @yodahekinsew

[2020-06-16 01:21] listx commented on #202
/remove-lifecycle stale

[2020-06-16 01:22] listx commented on #202
@yodahekinsew This is another type of check that we could add

[2020-06-16 20:50] yodahekinsew opened #220 "get rid of the "verbosity" flag and replace it with a "v" flag"
The "verbosity" flag in cip.go currently has no effect on what is logged by the promoter. Since we are already using the klog library to handle logging, we can just use klog's expected "v" flag to set the verbosity level.

[2020-06-17 22:47] listx commented on #186
This has actually been done already by @thockin and others. For proof, see #k8s-infra-alerts.

[2020-06-17 22:47] #186 closed

[2020-06-17 22:51] listx commented on #190
This was done in #210

[2020-06-17 22:51] #190 closed

[2020-06-18 14:52] #220 closed

[2020-06-18 14:53] yodahekinsew commented on #220
fixed by pull request #221

[2020-06-19 19:54] yodahekinsew opened #225 "add "--timeout" option to pull-cip-lint job"
The pull-cip-lint job will randomly fail on some pull requests due to timeout. Issue should be fixed by simply adding the "--timeout" option to the job with an arbitrary amount of time (something like 2 seconds).

[2020-06-23 08:04] listx commented on #225
We invoke the pull-cip-lint job here: https://github.com/kubernetes/test-infra/blob/157a58118f01633f69d1623a09a49fb39f771d79/config/jobs/kubernetes/sig-release/cip/container-image-promoter.yaml#L122 with just "make lint-ci". Can you add the flag to our Makefile?

[2020-06-24 18:22] yodahekinsew opened #228 "add a check against PRs that attempt to remove images from promoter manifests"
All images in the promoter manifests are promoted to production and shouldn't be removed after already being promoted. Currently, some PRs are changing the promoter manifests and removing images; a check needs to be added to CIP to make sure that these cases are caught and rejected.

Currently being worked on in PR #226
- [x] Add ImageRemovalCheck type as an implementation of CIP's PreCheck interf

[2020-06-24 20:20] yodahekinsew commented on #225
fixed with pull request #229

[2020-06-24 20:20] #225 closed

[2020-06-24 20:34] yodahekinsew opened #230 "add a check against PRs that attempt to promote images that are too large"
The larger an image is, the more likely it is to be a security risk; and it is generally bad practice to push large images to production. So an image size check needs to be added that will make sure the promoter isn't promoting unnecessarily large images.

Currently being worked on in #233

- [x] Add a max-image-size flag for the container image promoter
- [x] Capture all image size data when read

[2020-06-26 21:31] yodahekinsew commented on #228
/cc @listx

[2020-06-26 21:31] yodahekinsew commented on #230
/cc @listx

[2020-06-26 21:47] listx commented on #145
/close

See #219

[2020-06-26 21:47] #145 closed

[2020-06-30 02:14] listx commented on #144
/reopen

The work that @yodahekinsew is doing touches on this area, as he is expanding the number of various tests to check against staging images. See https://docs.google.com/document/d/1D5FEU58j3_V8Fxl98I3vcqNCxzpD9cV9Gtpxf9wGO4I/edit#heading=h.4bti0lhcgu9m.

[2020-06-30 18:17] yodahekinsew commented on #228
See PR #226

[2020-06-30 18:17] #228 closed

[2020-06-30 18:22] yodahekinsew opened #234 "add a check against PRs examining the health of images and manifests"
Currently there are 3 k8s.gcr.io/images subdirs that have no matching manifests subdirs. This check would make sure that images and manifests subdirs line up appropriately.

[2020-06-30 18:47] yodahekinsew opened #235 "add a check against PRs that attempt add images with known vulnerabilities"
Currently, none of the promoter’s checks check against known vulnerabilities that may exist in an image at the time of promotion. This means that the promoter may be pushing vulnerable images to production. The promoter should have a very high standard for the images that it pushes to production, since images that are pushed to production are never removed. So a vulnerability check needs to be add

[2020-07-13 15:30] yodahekinsew commented on #230
See PR #233

[2020-07-13 15:30] #230 closed

[2020-07-13 15:47] yodahekinsew opened #237 "drain WaitGroup in ExecRequests after processing the request"
Currently, ExecRequests is meant to return an error if any of the requests it processes return an error. However, there is a bug where ExecRequests returns too early. ExecRequests returns after a WaitGroup has been drained (set to 0), but the WaitGroup is currently being drained before each request is fully finished being processed. This means that sometimes ExecRequests returns before finishing a

[2020-07-30 03:10] rikatz commented on #144
Per past @listx comments:

/reopen
/remove-lifecycle rotten
/lifecycle active

Now I think the bot wont close it again :)

[2020-07-30 03:11] rikatz commented on #144
Hum not a member of kubernetes-sigs so not authorized to reopen

@listx feel free to reopen this :)

[2020-07-30 18:04] listx commented on #144
/reopen
/remove-lifecycle rotten
/lifecycle active

[2020-07-30 18:06] listx commented on #144
@yodahekinsew Please update this issue once the added checks are live.

[2020-07-30 18:24] listx commented on #207
To clarify, this is talking about the case where 1 project promotes into `gcr.io/foo/bar/*` but another project promotes into `gcr.io/foo/bar/baz/*`.

[2020-08-03 08:16] #69 closed

[2020-08-11 16:00] yodahekinsew opened #253 "add a vulnerability dashboard that surfaces all production image vulnerabilities"
Continuing on the vulnerability check that was made, a vulnerability dashboard should be created that will surface all the image vulnerabilities for images that have been promoted. The vulnerability check is a good way of instantly surfacing vulnerabilities to users at the instant they promote an image, but it would be useful to have a platform that continuously surfaces these issues long after th

[2020-08-11 22:23] listx commented on #253
Thanks for tracking this @yodahekinsew !

[2020-08-13 03:50] listx opened #254 "create data viewing tool to improve developer experience"
Looking up raw YAML to see what changed where is hard. Ideally we would have some tool that can slice and dice this info to the user depending on what they need.

For example, some people might want to view all tags of an image, sorted by tag order. It would probably also help to colorize the digest SHAs so that people can instantly tell which shas belong where (much like how [tig](https://github.

[2020-08-13 03:51] listx commented on #237
Fixed in #238.
/close

[2020-08-13 03:51] #237 closed

[2020-08-13 06:42] listx commented on #143
This is fixed. @yodahekinsew can you link to the PR that fixed this?

[2020-08-13 07:45] listx commented on #90
/remove-lifecycle rotten

[2020-08-14 17:33] listx opened #255 "create `archived` or a similar field to denote inactive promoter manifests"
Context: https://github.com/kubernetes/k8s.io/pull/1151#issuecomment-674182733

Other possible names for this field: `legacy|disabled|archived-registries`

[2020-08-16 21:33] #203 closed

[2020-09-03 16:41] listx commented on #180
/remove-lifecycle stale

[2020-09-16 08:03] hakman opened #258 "Build fails on macOS"
I am trying to build and the image promoter on my mac, but getting build errors. Probably I'm doing something wrong and would appreciate some help:

[code]

[2020-09-16 08:03] hakman commented on #258
/cc @justinsb

[2020-09-16 09:01] hakman commented on #258
Seems this was happening because of my local protobuf install. Removing protobuf and cleaning the bazel build dirs fixed the build, but maybe something can be done to either ignore the local version or warn about such install.
[code]

[2020-09-25 07:01] listx commented on #258
This SGTM but I am not sure how to do that.

MacOS builds have been finicky for me in the past, so I try to stick to developing on my Linux boxes only.

[2020-09-25 07:30] hakman commented on #258
I think there should be a pretty simple way to check if there is at least any brew version installed. I can look into that and come up with a PR to warn about it at least.
Also may be a god idea to add a GH job to build the macOS version. It would be informative but should be a signal that build and tests are working in the ideal case.

[2020-09-25 07:50] listx commented on #258
Adding a GH job to build a Mac version sounds fine, although I suppose that logic would have to be separate from our existing infra on Prow where we currently build this repo with https://github.com/kubernetes-sigs/k8s-container-image-promoter/blob/master/cloudbuild.yaml.

[2020-09-25 08:00] hakman commented on #258
Yes, it would be just a test, that it builds. Prow cannot block on it because of https://github.com/kubernetes/test-infra/issues/15611.
In any case, I can give it a try and see what comes out of it :).

[2020-09-29 23:59] listx opened #259 "make auditor less network-heavy on each pub/sub request"
Currently the auditor scans the entire staging repo "responsible" for a promotion to prod for every single incoming pub/sub event. This can get very heavy if the staging repo is large and/or the staging repo has tons of images. This has resulted in hitting the network API limits (quota limits) against GCR, where the staging repos reside.

There are two optimizations to do:

1. don't scan the entir

[2020-10-16 05:01] justaugustus opened #266 "[Umbrella] Repo improvements"
This a braindump of tasks I've done / plan on doing to improve the repo...

- [x] Code organization
  - [x] (https://github.com/kubernetes-sigs/k8s-container-image-promoter/pull/261) Init submodules, so libraries are importable
  - [x] (https://github.com/kubernetes-sigs/k8s-container-image-promoter/pull/260) Init v2 module (needs bazel cleanup first)
  - [x] (https://github.com/kubernetes-sigs/k8

[2020-10-16 07:39] cpanato commented on #266
I will work on the `Test Infra / Contributing` items

[2020-10-16 16:16] spiffxp commented on #266
Suggestion for test-infra changes: container-image-promoter jobs that currently run in the google.com-owned prow.k8s.io service cluster should run in community-owned infrastructure instead

Migrating to k8s-infra-prow-build-trusted would involve:
- ensuring there service accounts and workload identity bindings for k8s-infra-prow-build-trusted
  - so the relevant service accounts in here: https://g

[2020-10-17 23:20] justaugustus opened #269 "container-image-promoter jobs that currently run in the google.com-owned prow.k8s.io service cluster should run in community-owned infrastructure"
#### What would you like to be added:

(From @spiffxp in https://github.com/kubernetes-sigs/k8s-container-image-promoter/issues/266#issuecomment-710162069.)

Suggestion for test-infra changes: container-image-promoter jobs that currently run in the google.com-owned prow.k8s.io service cluster should run in community-owned infrastructure instead

#### Why is this needed:

Migrating to `k8s-infra-pr

[2020-10-17 23:25] justaugustus commented on #266
Thanks for all of the details, @spiffxp!
I've opened https://github.com/kubernetes-sigs/k8s-container-image-promoter/issues/269 to track this, since it's a bit meaty compared to the other tasks in this umbrella.

[2020-10-20 23:33] listx opened #271 "need to bump bazel build image in cloudbuild.yaml"
#### What happened:

Push to staging of master branch (at 2a7df3b) is failing (see https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/cip-postsubmit-push-to-staging/1318451425813991424).

#### What you expected to happen:

This should succeed. Essentially the k8s job runs `cloudbuid.yaml` in this repo to do the push to staging, but it failed today (Oct 20). I suspect maybe the Bazel updates had

[2020-10-20 23:33] listx commented on #271
/cc @justaugustus

[2020-10-21 01:43] justaugustus commented on #271
On it!
/assign

[2020-10-21 01:55] justaugustus commented on #271
Fix is up here: https://github.com/kubernetes-sigs/k8s-container-image-promoter/pull/272

[2020-10-21 02:04] #271 closed

[2020-10-23 07:53] cpanato opened #274 "Image us.gcr.io/k8s-artifacts-prod/artifact-promoter/cip does not contain dashboard binary"
#### What happened:
We have the job https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/wg-k8s-infra/trusted/wg-k8s-infra-trusted.yaml#L25-L47 that runs the vulnerabilities and export a dashboard.

To run that it needs the dashboard binary that is available here: https://github.com/kubernetes-sigs/k8s-container-image-promoter/tree/master/dashboard

But this is missing when

[2020-10-23 20:12] listx commented on #274
This probably needs to be revisited (or be made a part of) #266.

[2020-10-24 07:46] justaugustus commented on #253
Continued in https://github.com/kubernetes-sigs/k8s-container-image-promoter/issues/274.
/close

[2020-10-24 07:47] #253 closed

[2020-10-28 02:25] justaugustus commented on #274
I believe the root of this is that the vulnerability dashboard binary was not actually in the `cip` image (nor do I think it should be).

So I'm have done / am doing a few things:
- [x] migrate the vulnerability dashboard (`vulndash`) to k/release: https://github.com/kubernetes-sigs/k8s-container-image-promoter/pull/276
- [x] fixup image building for vulndash: https://github.com/kubernetes/release

[2020-10-28 02:25] justaugustus commented on #274
/assign

[2020-10-29 03:08] justaugustus commented on #274
Closing in favor of https://github.com/kubernetes/release/issues/1665.
/close

[2020-10-29 03:08] #274 closed

[2020-10-31 05:39] justaugustus commented on #269
I'm working on some of this while Carlos tackles the vulndash work in https://github.com/kubernetes/release/issues/1665.
/assign

[2020-11-03 21:02] justaugustus commented on #269
With the merge of https://github.com/kubernetes/test-infra/pull/19826, I'm considering this complete.
Checklist in the description has been updated.

/close

[2020-11-03 21:02] #269 closed

[2020-11-12 00:02] justaugustus opened #277 "Digests should not be not mutable"
#### What happened:

Noticed in https://github.com/kubernetes/k8s.io/pull/1414, a user was able to mutate a digest:tag mapping.

#### What you expected to happen:

This should be a violation of the promoter logic and the presubmit should've blocked the merge.

/assign @listx
/priority critical-urgent
cc: @thockin @kubernetes-sigs/release-engineering

#### How to reproduce it (as minimally and prec

[2020-11-12 00:14] justaugustus opened #278 "Promoter manifests in the images/ directory should be a presubmit violation"
#### What happened:

Noticed in https://github.com/kubernetes/k8s.io/pull/1309 (and fixed in https://github.com/kubernetes/k8s.io/pull/1407), a user `promoter-manifest.yaml` was in the `images/` directory, which caused their set of images to not be promoted.

#### What you expected to happen:

I would expect this scenario to be a violation of the promoter logic and the presubmit should've blocked

[2020-11-13 01:11] listx commented on #277
Let me try reproducing; this is obviously a bug.

[2020-11-13 01:57] listx commented on #277
I did some digging into the logs. To simplify the situation, what happened in the referenced PR is, a few days ago (Nov 8?) a PR was merged with digest A (just using this short name for simplicity), and then a new PR was merged https://github.com/kubernetes/k8s.io/pull/1414 with digest B for the same tag. The promoter did not complain.

What happened here is, when the PR with digest A was merged,

[2020-11-13 03:27] justaugustus commented on #277
Thanks for the write-up, Linus!
/remove-priority critical-urgent
/priority important-soon

[2020-11-26 15:48] matthyx commented on #90
/assign

[2021-01-13 11:37] aledbf commented on #277
@listx from the example in the readme https://github.com/kubernetes-sigs/k8s-container-image-promoter#plain-manifest-example is not clear that is not allowed to change a tag, in particular, `latest`

[2021-01-15 03:03] spiffxp commented on #70
/remove-lifecycle stale
/lifecycle frozen
/wg k8s-infra
/sig release
/assign @justaugustus
please assign to someone more appropriate in @kubernetes-sigs/release-engineering

[2021-01-20 16:37] listx commented on #259
/remove lifecycle/stale

[2021-01-20 16:38] listx commented on #259
Oops

/remove-lifecycle stale

[2021-01-26 22:17] sethmccombs opened #286 "gcloud - No Active Account Error"
#### What happened:
Release promotion for 1.21.0-alpha.2 had a failure
[code]

https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/post-k8sio-image-promo/1354160823739617280
https://github.com/kubernetes/sig-release/issues/1437

#### What you expected to happen:
Job runs successfully

#### How to reproduce it (as minimally and precisely as possible):
Appears to be a flake? A re-run worked successf

[2021-02-08 17:20] spiffxp commented on #286
Transferring to kubernetes/test-infra and will retitle

[2021-02-08 17:23] spiffxp commented on #286
/retitle post-k8sio-image-promo job flaking with gcloud active account error
/remove-wg k8s-infra

[2021-03-15 06:46] #74 closed

[2021-03-15 06:46] #117 closed

[2021-03-15 06:46] #143 closed

[2021-03-15 06:46] #180 closed

[2021-03-15 06:46] #183 closed

[2021-03-15 06:46] #207 closed

[2021-03-15 06:46] #213 closed

[2021-03-15 07:47] #202 closed

[2021-03-15 07:47] #235 closed

[2021-03-15 07:47] #212 closed

[2021-03-15 07:47] #234 closed

[2021-03-15 07:47] #254 closed

[2021-03-15 07:47] #258 closed

[2021-03-15 07:47] #255 closed

[2021-04-11 02:10] #278 closed

[2021-04-25 17:38] #90 closed

[2021-05-17 11:53] cpanato commented on #277
/remove-lifecycle rotten

If I can have some pointers I can work on this issue

cc @justaugustus @listx

[2021-05-22 03:58] johngmyers opened #289 "Failed to install on Mac"
#### What happened:

[code]

#### What you expected to happen:

To get a working k8s-container-image-promoter binary.

#### How to reproduce it (as minimally and precisely as possible):

[code]

#### Anything else we need to know?:

#### Environment:

- Cloud provider or hardware configuration: N/A
- OS (e.g: `cat /etc/os-release`): Mac OS 10.15.7
- Kernel (e.g. `uname -a`): Darwin iMac.localdomai

[2021-05-25 16:45] listx commented on #266
/remove-lifecycle rotten
/cc @tylerferrara

[2021-05-27 21:25] justaugustus commented on #286
/remove-lifecycle stale
This still appears to be an issue.

[2021-05-30 08:43] justaugustus opened #300 "Remove bazel from repo"
- [x] Update to latest / roughly parity with k/k: https://github.com/kubernetes-sigs/k8s-container-image-promoter/pull/264
- [ ] ~Swap to k/repo-infra~
- [ ] Non-bazel bash/go testing
  - [x] unit tests: https://github.com/kubernetes-sigs/k8s-container-image-promoter/pull/291
  - [ ] (@tylerferrara) e2e tests: https://github.com/kubernetes-sigs/k8s-container-image-promoter/issues/304
- [ ] Non-baz

[2021-06-03 20:41] justaugustus commented on #300
Design doc from @tylerferrara: https://docs.google.com/document/d/1tQTb8dqKQtsL1a5jmCDbRg2MEDMkAnT07vrrxyZxLfk/edit?usp=sharing

cc: @kubernetes-sigs/release-engineering

[2021-06-04 00:10] bkk-bcd commented on #289
I have a different OS and arch, so I can't verify this directly, but in my experience its not uncommon to run into incompatibilities between BSD and GNU Linux commands. I would suggest trying to install coreutils (Note: this could break other scripts you use):

[code]

[2021-06-04 00:12] talbright commented on #289
I have a different OS and arch, so I can't verify this directly, but in my experience its not uncommon to run into incompatibilities between BSD and GNU Linux commands. I would suggest trying to install coreutils (Note: this could break other scripts you use):

[code]

[2021-06-04 00:46] justaugustus commented on #289
Thanks for the report, @johngmyers.
Will take a look at the bazel config next week.

[2021-06-04 04:24] listx commented on #289
FWIW there is work going to to remove Bazel in the coming weeks by @tylerferrara. See https://docs.google.com/document/d/1tQTb8dqKQtsL1a5jmCDbRg2MEDMkAnT07vrrxyZxLfk/edit?usp=sharing

[2021-06-10 19:45] tylerferrara opened #304 "Removing Bazel from e2e tests"
Sub-Issue of #300

Outlining the steps of implementing [Tarball Image Loading](https://docs.google.com/document/d/1tQTb8dqKQtsL1a5jmCDbRg2MEDMkAnT07vrrxyZxLfk/edit?usp=sharing) within CIP.
This involves accomplishing the following:
- [x]  Generate tarball archives for golden-tests #305 #307
- [x]  Add archive loading to test-e2e-cip #306
- [x]  Replace all Bazel invocations in e2e.go with `go run`

[2021-06-10 20:00] tylerferrara commented on #300
Removing Bazel from e2e tests will take several PRs. To organize this, I created a sub-issue outlining each step.
CIP e2e tests: #304

[2021-06-19 01:50] listx opened #309 "Make test-go.sh script exit with a failure if a test fails"
#### What happened:

test-go.sh exits successfully even if a unit test fails

#### What you expected to happen:

It should exit with an error.

#### How to reproduce it (as minimally and precisely as possible):

Run test-go.sh

#### Anything else we need to know?:

[2021-06-19 01:54] listx opened #310 "test-go.sh: when run in CI (Prow), do not exit immediately upon the first test failure"
#### What would you like to be added:

#302 fixes a longstanding bug (AFAICS this has been around for months) around test-go.sh just printing statements and not actually exiting with an error if a unit test fails. However it should sometimes exit late rather than early (that is, show all failing tests instead of exiting on the first error encountered).

#### Why is this needed:

For Prow/CI jobs t

[2021-06-22 17:42] justaugustus opened #312 "`images` check results in GCB run failures despite successful image push"
#### What happened:

https://github.com/kubernetes-sigs/k8s-container-image-promoter/pull/311 added a check for the existence of the pushed images (`cip`, `cip-auditor`) before marking the GCB job successful.

Here are some examples:
- https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/post-cip-push-image-cip/1406887836669448192
- https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/post-cip-push-

[2021-06-22 19:25] justaugustus commented on #312
Disabled check: https://github.com/kubernetes-sigs/k8s-container-image-promoter/pull/313
We'll keep this open until the check is reinstated.

[2021-06-22 19:26] justaugustus commented on #312
Successful postsubmit with the image check disabled: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/post-cip-push-image-cip/1407411111174606848

[2021-06-28 17:17] listx commented on #310
As explained in https://github.com/kubernetes-sigs/k8s-container-image-promoter/pull/302#issuecomment-869847962, this was a false alarm. Sorry for the noise; closing.

[2021-06-28 17:17] #310 closed

[2021-06-28 17:34] listx opened #322 "Fix silently broken tests"
#### What happened:
In https://github.com/kubernetes-sigs/k8s-container-image-promoter/pull/302#issuecomment-869847962, we explained that some of the unit tests have changed in behavior in https://github.com/kubernetes/release/pull/1772 (when the test code lived for a time in k/release).

The strictness of a number of tests were relaxed (before, we checked that certain particular known cases of bu

[2021-06-28 17:38] listx commented on #322
/cc @tylerferrara

[2021-06-28 19:28] tylerferrara commented on #300
- [x] e2e tests and completed

#323 is looking to tackle `Non-bazel container + artifact generation`

[2021-06-28 23:55] tylerferrara opened #326 "Add archive verification to pull-cip-verify pre-submit test"
#### What would you like to be added:
The existing `verify-archives` target should be added to pre-submits by simply being added to the `verify` target. This would explicitly guard the archives for each PR. However, the Prow job's base image that runs current verification scripts `pull-cip-verify` does not have docker installed.
[code]
Therefore, in order to run the verification, a new image must

[2021-06-28 23:57] tylerferrara commented on #326
This may not be a priority of CIP in the near future, but it's worth considering.
cc: @listx @amwat @justaugustus

[2021-06-29 04:37] listx commented on #326
What if we used the kubekins-e2e image? It has docker.

https://github.com/kubernetes/test-infra/tree/master/images/kubekins-e2e

[2021-06-29 17:59] listx commented on #322
Apparently the issue extends to audit_test.go, which was modified in k/release with https://github.com/kubernetes/release/pull/1772. E.g. if you modify the regex patterns in `TestAudit()`, the tests will still pass.

I'll submit a PR that fixes these tests later today.

/cc @justaugustus @cpanato

[2021-06-29 18:09] listx commented on #322
In the future we should not have large PRs that perform sweeping refactors. Instead we should aim for the smallest PRs possible, to avoid silent regressions like this.

I am combing through https://github.com/kubernetes/release/pull/1772 and realize that a number of changes weren't just 1:1 replacements of the in-house error-checking functions with the equivalents from the `testify` package. To sa

[2021-06-29 21:01] tylerferrara opened #328 "Verify building with Docker"
#### What would you like to be added:
Sub-issue of #339

The process of building container images should be guarded by tests. Currently, its possible to change the Dockerfile to use any base image and include any extra code.

When building with `cip-image.sh` we can verify:

- Base images of each container
- Size constraints
- Number of image layers (this may change based on relied upon base image

[2021-07-02 20:02] tylerferrara opened #332 "Flaking pre-submit: pull-cip-auditor-e2e"
#### What happened:
The pre-submit `pull-cip-auditor-e2e` seems to flake with the same error message.
[code]

#### What you expected to happen:
This should warent a re-test, or expect this behavior as a valid exception.

#### How to reproduce it (as minimally and precisely as possible):
I cannot predict the pattern of this error, nor why this happens exactly.

#### Anything else we need to know?:

[2021-07-02 20:34] BenTheElder commented on #286
ref: https://kubernetes.slack.com/archives/CCK68P2Q2/p1625257913214300?thread_ts=1625175618.211200&cid=CCK68P2Q2

I think we should reduce the sensitivity on these alerts, sending emails for a single non-consecutive flake seems excessive.

[2021-07-07 16:14] tylerferrara commented on #332
Another occurrence of this flake. Here is the prow log:
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_k8s-container-image-promoter/333/pull-cip-auditor-e2e/1412805104695775232

[2021-07-07 20:22] tylerferrara commented on #332
Also worth noting, this type of flake only tends to occur when other prow jobs are running at the same time. If I were to guess, there may be a misstep in the isolation of our testing environment.

[2021-07-08 00:56] listx commented on #322
Sorry, I've been busy with some things and this is taking longer to revert. I still have my eyes on this though.

[2021-07-08 00:56] #309 closed

[2021-07-08 01:23] amwat commented on #326
+1 kubekins-e2e should have docker and also support for docker in docker.

[2021-07-08 14:07] tylerferrara commented on #332
/assign @tylerferrara

[2021-07-08 14:29] tylerferrara opened #339 "Provenance Strengthening"
#### What would you like to be added:
This feature is an **open discussion** for increasing code provenance within CIP.
Areas of interest include:

- [ ] Container Building | Ensure the contents of the images are built from the correct base images. #328
- [ ] Image Bundling | Guard the image bundles for test and prod scenarios.
- [ ] Version Stamping | Verify version stamping works when building C

[2021-07-08 18:49] tylerferrara commented on #332
There may be two flakes ta play here.

1. Malformed docker manifest, which errors out on pushes.
2. Failure creating Pub/Sub subscriptions.

In regards to Issue #1 here's what this error looks like:
[code]
It seems others have encountered similar errors: [stackoverflow](https://stackoverflow.com/questions/60632911/what-is-the-manifest-blob-unknown-blob-unknown-to-registry-error)

[2021-07-12 15:16] tylerferrara commented on #326
Completed, closing.

[2021-07-12 15:16] #326 closed

[2021-07-12 15:16] tylerferrara commented on #304
Completed, closing.

[2021-07-12 15:16] #304 closed

[2021-07-12 15:17] tylerferrara commented on #300
@justaugustus Bazel is now deprecated in CIP.
Suggest closing.

[2021-07-12 15:19] tylerferrara commented on #289
@johngmyers could you re-try pulling the latest from master?
We have now removed Bazel altogether, which may resolve your issue.

[2021-07-12 19:16] tylerferrara opened #345 "Version flag not printing version"
#### What happened:
Using the `--version` flag does not print version.

#### What you expected to happen:
[code]
output should be the same as the `version` command:
[code]

#### How to reproduce it (as minimally and precisely as possible):
[code]
output:
[code]

#### Anything else we need to know?:
Since the `version` should command accomplishes the same thing, we should remove the `--version` fla

[2021-07-12 19:32] tylerferrara commented on #286
This may or may not be related to flaking `pull-cip-auditor-e2e` pre-submit: #332

[2021-07-12 23:16] listx opened #347 "Improved CLI UI/UX"
#### Background

Today when a human makes changes to the promoter manifests inside [this folder](https://github.com/kubernetes/k8s.io/tree/main/k8s.gcr.io/images), they can do it with the [cip-mm](https://pkg.go.dev/k8s.io/release/cmd/cip-mm) tool, or by hand (there is no requirement that they use cip-mm).

This is an umbrella issue for possible CLI UI/UX improvements to make it easier to reason a

[2021-07-13 00:26] puerco commented on #347
These are great ideas. How do you envision # 2 working? A full-fledged curses selector? A search thingie with completion or something like that? Definitely, 3 is badly needed as reviewing promotion PRs with multiple images is not practical, a good example: https://github.com/kubernetes/k8s.io/pull/2232/files

[2021-07-13 00:57] listx commented on #347
A curses-based UI would be a good start. Maybe we can piggy-back on top of existing tools that understand YAML, such as https://www.visidata.org/, although that presents its own set of challenges. Either way, I want a tool that I can use to easily view existing images quickly (e.g., fuzzy-search as I type to filter out those image(s) we care about in the promoter manifests), and also to add new im

[2021-07-13 13:59] tylerferrara commented on #345
Resolved by the merging of #346.
Closing.

[2021-07-13 13:59] #345 closed

[2021-07-14 21:53] tylerferrara commented on #259
/assign @tylerferrara

[2021-07-19 21:02] tylerferrara opened #353 "Auditor not querying GCR"
#### What happened:
The GCP project: `k8s-artifacts-prod` does not appear to show it's GCR API being requested. This is unexpected behavior, as the auditor should be continuously verifying new GCR state changes. When it sees a new image that is not inside k/k8s.io, it consults the GCR to verify this image. However, since there hasn't been ANY queries to GCR in 30+ days, the auditor must not be run

[2021-07-19 22:24] listx commented on #353
Thinking about this again, I think it's because the auditor queries the staging GCRs, not prod. See https://github.com/kubernetes-sigs/k8s-container-image-promoter/blob/bed8661305e1e325d0dd22b61e0cea2967b0f0e4/legacy/audit/auditor.go#L261-L266. The `subproject` here means the *staging* repo that belongs to the subproject, not production.

[2021-07-21 00:45] tylerferrara commented on #353
@listx appears to be correct! [Here](https://github.com/kubernetes-sigs/k8s-container-image-promoter/blob/0d994e8a53682a831224af62b34065ad88442d9a/legacy/dockerregistry/inventory.go#L1591-L1677) we see two functions that make HTTP requests to GCR. I don't believe this would be monitored by the Container Registry API. This would explain why the auditor is not triggering these metrics. This PR #356

[2021-07-21 17:09] tylerferrara commented on #300
/close

[2021-07-21 17:09] #300 closed

[2021-07-21 17:40] tylerferrara opened #358 "Audit Request Counter"
#### What would you like to be added:
Enable a simple request counter when the user passes the `--verbose` flag. This counter should increment each time the auditor makes an HTTP request to GCR. Every 10min period, the number of queries should printed to logs and reset the counter back to zero. This effectively measures the network performance of the auditor in the same way the Container Registry

[2021-07-21 22:49] #322 closed

[2021-07-27 16:14] tylerferrara commented on #289
I can confirm that CIP builds correctly on the M1 MacBook Air.

[2021-07-29 18:51] listx opened #375 "Exit with error if tag moves are attempted"
In https://github.com/kubernetes/k8s.io/pull/2052, tags were attempted to be moved. This has happened in the past and is not the first time we've seen this. However, our presubmit exited without failures because the dry run exited without errors.

If we detect tag moves, we must exit with an error to prevent users from attempting to move tags again.

#### What happened:

Successful presubmit run f

[2021-07-29 18:51] listx commented on #375
/assign @listx

[2021-07-29 22:15] justaugustus commented on #375
@listx -- dupe of https://github.com/kubernetes-sigs/k8s-container-image-promoter/issues/277?

Can we consolidate?

[2021-07-29 23:24] listx commented on #375
I think this is different. It just deals with erroring out in the **presubmit** (dry run) if we attempt do perform a tag move, which is a separate question from dealing with so-called "lost" images in #277 in the pre and post-submit run. Also FTR "lost" images are fine because that's expected (staging is ephemeral), whereas tag moves are verboten.

[2021-07-30 20:35] tylerferrara commented on #353
Deployment of this PR: #383 should help us gain insight into the auditor's network usage.

[2021-08-04 00:25] tylerferrara commented on #353
According the the logs, the auditor is periodically restarting.
![restart](https://user-images.githubusercontent.com/20875599/128102000-b780fd35-10ec-4238-8279-1691b82f4cef.png)
It doesn't appear to show any error or failing behavior which makes a strong case that Cloud Run is throttling it. [Auto-scaling](https://cloud.google.com/run/docs/about-instance-autoscaling) is a feature of Cloud Run whic

[2021-08-05 15:47] tylerferrara opened #392 "Improve Auditor Visibility & Stability"
#### What would you like to be added:
Log more behavior from the Auditor:

- [x] Log HTTP requests to GCR #358
- [x] Log OS signals #389 #391
- [ ] Enable & log graceful termination

#### Why is this needed:
In the past, the Auditor has experienced scaling and restarting issues. To improve future stability, it's important to capture behavior patterns that reflect current instabilities. Therefore,

[2021-08-05 16:02] tylerferrara commented on #353
We have successfully captured an instance where the Auditor has exceeded quota!

This was during the audit of `mock/kube-scheduler`:
![pantheon corp google com_run_detail_us-central1_cip-auditor_logs_project=k8s-artifacts-prod (2)](https://user-images.githubusercontent.com/20875599/128382817-acbe8555-ed19-47ac-82ed-28a3075df876.png)

[2021-08-05 19:07] #375 closed

[2021-08-06 00:37] listx commented on #144
/reopen
/remove-lifecycle rotten
/lifecycle active

# Intro

OK so we got bitten by the lack of QA tests for staging images with https://github.com/kubernetes/test-infra/pull/23148 (reverted in https://github.com/kubernetes/test-infra/pull/23151). There are several things going on, but let me capture what's happening today. You can think of this comment as a mini-postmortem doc.

# Current state o

[2021-08-06 00:37] listx commented on #144
/assign @listx

[2021-08-06 03:32] justaugustus commented on #144
So it's in my queue to help with:
/assign

FYI @kubernetes-sigs/release-engineering on https://github.com/kubernetes-sigs/k8s-container-image-promoter/issues/144#issuecomment-893917449.

[2021-08-06 05:18] listx commented on #144
@justaugustus I think I can help with adding a unit test in Prow (proposed change 1). I'm going to be working more in Prow anyway so it's a good exercise.

[2021-08-06 15:57] tylerferrara commented on #144
Two questions:
Will these proposed solutions get their own issues?
In Step 3, are we suggesting the addition of another verify script to enforce a standard API? If so, I like this idea. As you mentioned, this API definition should be referenced in Step 1. Therefore, changing the API would only require a single file change.

Thinking out loud: In addition, we may want to reference this API in the `

[2021-08-06 17:13] listx commented on #144
Ideally yes; I'll try to keep this thread synced with any new issues related to this area.

Yeah we could use some sort of standardized API definition for CIP and related tools. Maybe that "source of truth" will be in the form of a YAML configuration defined for https://github.com/GoogleContainerTools/container-structure-test. (Or is just rolling our own "CLI API" YAML definition better? IDK)

Not

[2021-08-12 14:40] tylerferrara opened #402 "Audit Defined Child Images"
#### What would you like to be added:
If a child image is defined within a sub-project's promotion manifest, it will not be seen by the Auditor since the parent image (manifest list) is under a different name. Our incoming child image [will never match](https://github.com/kubernetes-sigs/k8s-container-image-promoter/blob/master/legacy/audit/auditor.go#L244-L248) an existing child definition, becau

[2021-08-12 15:45] justaugustus commented on #402
@tylerferrara -- in "What would you like to be added", would you mind adding a few lines about the requested feature?

You jump into a problem statement, but this should also include a crisp statement about the feature you're interested in seeing implemented.

[2021-08-14 17:54] listx commented on #258
@hakman To close the loop: I've just tested `master` from my own Mac and it builds fine. The Bazel stuff was removed in #333 and others.

[2021-09-08 00:31] justaugustus opened #413 "[Umbrella] Enable automated file promotion"
#### What would you like to be added:

(Filing this to capture comments/progress https://github.com/kubernetes/k8s.io/issues/2624, some notes that I was scribbling locally, and some of the discussion I had with @justinsb a little earlier today.)

### Restrictions

- [x] `kpromo` should always use service account / implicit credentials: https://github.com/kubernetes-sigs/k8s-container-image-promote

[2021-09-13 13:50] justaugustus opened #424 "Rename repo and default branch"
#### What would you like to be added:

As we start to integrate promotion tools back into the image promoter repo, I'd like to take the opportunity to:

- Rename the repo
- Change the default branch name to main

As both of those touch roughly the same files, I'd like to handle them together.

I have two ideas for repo names, so let's vote!

1. `sigs.k8s.io/kpromo` (the name of the artifact promot

[2021-09-13 13:53] justaugustus commented on #424
Votes so far:
- `sigs.k8s.io/promo-tools`: 4 - @ameukam, @jeremyrickard, @puerco, @randomvariable
- `sigs.k8s.io/kpromo`: 1 - @pacoxu

[2021-09-13 14:26] justaugustus commented on #424
Notice to k-dev: https://groups.google.com/g/kubernetes-dev/c/YnIYtEBURvk

[2021-09-14 18:05] justaugustus commented on #328
Closed via https://github.com/kubernetes/test-infra/pull/22619
/close

[2021-09-14 18:05] justaugustus commented on #328
/assign

[2021-09-14 18:05] #328 closed

[2021-09-14 18:08] justaugustus commented on #289
With bazel removed from the repo, this should no longer be an issue.
Please feel free to reopen if installation is still failing.

/close

[2021-09-14 18:08] #289 closed

[2021-09-14 19:42] justaugustus commented on #266
To keep this from being open indefinitely...

Recently merged:
- Image building for `kpromo`: https://github.com/kubernetes-sigs/k8s-container-image-promoter/pull/408

Moved to a separate issue:
- Integrate file promotion into k/k release process: https://github.com/kubernetes/release/issues/2248

Closed with:
- OWNERS update in https://github.com/kubernetes/test-infra/blob/master/config/jobs/kube

[2021-09-14 19:42] #266 closed

[2021-09-14 20:55] justaugustus commented on #312
Fixed in https://github.com/kubernetes-sigs/k8s-container-image-promoter/pull/427.

[2021-09-14 23:50] #312 closed

[2021-09-15 01:13] justaugustus commented on #424
Opened a PR for the repo rename: https://github.com/kubernetes/test-infra/pull/23605

[2021-09-15 22:21] justaugustus opened #430 "v3.3.0: Release tracking"
#### What would you like to be added:

Tracking some cleanup tasks we'll want to get into the next release...

#### Why is this needed:

- [x] Update docs to reflect new branch references: https://github.com/kubernetes-sigs/promo-tools/pull/429
- [x] Clean up dead links: https://github.com/kubernetes-sigs/promo-tools/pull/428
- [x] (optional) Unify image building make targets: https://github.com/k

[2021-09-22 05:18] justaugustus commented on #424
Will be completed via https://github.com/kubernetes/k8s.io/pull/2752.
/close

[2021-09-22 05:18] #424 closed

[2021-09-26 14:24] justaugustus opened #436 "`kpromo cip version` should actually provide build info in container"
#### What happened:

Noticed in https://github.com/kubernetes-sigs/promo-tools/pull/434#issuecomment-926235339, build info does not make it into the container:

[code]

#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

Carlos is interested in working on this (ref: https://github.com/kubernetes-sigs/promo-too

[2021-10-02 15:35] justaugustus commented on #332
Closed via https://github.com/kubernetes-sigs/promo-tools/pull/342.
/close

[2021-10-02 15:35] #332 closed

[2021-10-05 08:13] #436 closed

[2021-10-06 20:06] justaugustus opened #444 "e2es mask environment config/auth issues in production images"
#### What happened:

From https://github.com/kubernetes-sigs/promo-tools/pull/443#pullrequestreview-773085267:

More details here: https://github.com/kubernetes/k8s.io/issues/2877

/assign

#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

#### Environment:

- Cloud provider or hardware configuration:
- OS (

[2021-10-06 22:18] justaugustus opened #445 "Cannot promote an image with a new name"
#### What happened:

In https://github.com/kubernetes/k8s.io/pull/2887, I attempted to map existing SHAs for `cip` / `cip-auditor` images to `kpromo` / `kpromo-auditor`, respectively.

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/k8s.io/2887/pull-k8sio-cip/1445865303266299904 and https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/post-k8sio-image-promo/1445866095184449536 showed th

[2021-10-07 00:01] justaugustus commented on #444
Added a container structure test in https://github.com/kubernetes-sigs/promo-tools/pull/446 to validate the existence of `/root/.docker/config.json`.

[2021-10-07 18:15] justaugustus opened #448 "Reduce alert sensitivity for production jobs"
ref: https://kubernetes.slack.com/archives/CCK68P2Q2/p1625257913214300?thread_ts=1625175618.211200&cid=CCK68P2Q2

I think we should reduce the sensitivity on these alerts, sending emails for a single non-consecutive flake seems excessive.

_Originally posted by @BenTheElder in https://github.com/kubernetes-sigs/promo-tools/issues/286#issuecomment-873244154_

[2021-10-07 18:19] justaugustus commented on #286
I haven't seen this happen recently, so closing out for now. Feel free to reopen, if needed.
/close

Tracking here: https://github.com/kubernetes-sigs/promo-tools/issues/448, with a fix here: https://github.com/kubernetes/test-infra/pull/23940

[2021-10-08 12:51] #448 closed

[2021-10-14 04:09] johngmyers opened #450 "Fails to install"
#### What happened:

[code]

#### What you expected to happen:

kpromo installed into ~/go/bin/

#### How to reproduce it (as minimally and precisely as possible):

* Read the Install section of README.md
* Run `make install`

#### Anything else we need to know?:

README.md, cmd/kpromo/README.md, and the code appear to disagree whether the command is `cip` or `kpromo cip`.

#### Environment:

- Cl

[2021-11-24 04:52] #450 closed

[2021-11-24 05:10] puerco opened #463 "Write a starter guide document for new users of promo-tools"
#### What would you like to be added:

Capturing previous discussions (ref https://github.com/kubernetes-sigs/promo-tools/pull/462#issuecomment-977534243 ),
it would be useful to create an introductory document to get folks started quickly on the basics of artifact promotion, geared towards new users of promotion tools.

The central idea would be to have a starter guide where users can get the ess

[2021-12-05 05:56] justaugustus opened #467 "Follow-ups to parent image verification work"
From https://github.com/kubernetes-sigs/promo-tools/pull/351#issuecomment-880858764:

[2021-12-07 22:53] k8s-triage-robot opened #469 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2021-12-08 04:26] justaugustus commented on #469
Thank you for creating a SECURITY_CONTACTS file. Please `/close` the issue.
/close

[2021-12-08 04:26] #469 closed

[2021-12-08 22:54] k8s-triage-robot opened #470 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2021-12-09 03:02] justaugustus commented on #470
This issue may have been opened in error due to a bug in the logic for discovering SECURITY_CONTACTS files.
For more information, please see this notice to [kubernetes-dev](https://groups.google.com/g/kubernetes-dev/c/yFlPFIYJCt8).

As this has [re]opened multiple issues across Kubernetes orgs, I will not attempt to answer comments on individual issues.
Feel free to reply to the linked kubernetes-

[2021-12-09 03:02] #470 closed

[2021-12-10 11:33] mrueg opened #473 "cip-mm sort by tag instead of checksum"
#### What would you like to be added:
Currently, if you use cip-mm to promote images, it sorts the generated file by the checksum of the promoted container images. Ideally it would allow sorting the generated file by tag instead or have an option to provide that as a argument.

#### Why is this needed:
If you promote images for multiple architectures it makes it very difficult to spot if all of th

[2021-12-10 17:42] justaugustus commented on #473
Hey @mrueg, thanks for filing this (and for using the tools here!)
First up, I want to point out `kpromo pr`, which includes much of the functionality of `cip-mm` and should be your go-to tool for creating image promotion PRs. You can read more about it here: https://github.com/kubernetes-sigs/promo-tools/blob/main/docs/promotion-pull-requests.md

Now, onto this question...
It's actually something

[2021-12-10 18:54] justaugustus commented on #430
Release: https://github.com/kubernetes-sigs/promo-tools/releases/tag/v3.3.0

[2021-12-10 18:54] #430 closed

[2021-12-11 11:16] mrueg commented on #473
Thanks for creating those tools and taking the time to answer this request @justaugustus
I'll update our downstream doc accordingly and will mention kpromo there https://github.com/kubernetes/kube-state-metrics/blob/master/RELEASE.md#prepare-your-release

On the second part, I can see that it is a larger change and agree that it might have only little benefit eventually. For updating all manifests

[2021-12-13 20:19] puerco commented on #473
I agree with this, making sure all intended images in the promo PRs is cumbersome.

I think, however, that it's important to treat separately things intended to be read by machines from those intended to be read by humans.

In this particular case I think I would favor a clear overview of changes in the command line output and having a summary of changes in the PR body for human consumption while

[2021-12-24 04:58] listx commented on #473
We should move away from expecting humans to examine the YAMLs directly and leave that instead up to a tool. Said tool was proposed a while back here https://github.com/kubernetes-sigs/promo-tools/issues/254, although it didn't gain enough traction.

To make an analogy, it's like how Git saves data under .git/objects/... but gives you the `git diff/log/etc` tooling to see human-friendly commit inf

[2021-12-24 08:59] cpanato commented on #473
i did a pr while back https://github.com/kubernetes-sigs/promo-tools/pull/251 and we discussed this.

[2021-12-29 09:08] cpanato commented on #277
/remove-lifecycle stale

[2021-12-29 09:08] cpanato commented on #339
/remove-lifecycle stale

[2021-12-29 09:08] cpanato commented on #353
/remove-lifecycle stale

[2021-12-29 09:08] cpanato commented on #358
/remove-lifecycle stale

[2021-12-29 09:09] cpanato commented on #402
/remove-lifecycle stale

[2021-12-29 09:09] cpanato commented on #413
/remove-lifecycle stale

[2021-12-29 09:11] cpanato commented on #347
/remove-lifecycle stale

[2021-12-29 09:11] cpanato commented on #392
/remove-lifecycle stale

[2022-01-04 21:14] CecileRobertMichon commented on #473
cc @vincepri @fabriziopandini since we had a similar question when try to use kpromo for Cluster API images

[2022-01-04 21:20] CecileRobertMichon opened #479 "Allow explicitly filtering images by name via `kpromo pr --image`"
#### What would you like to be added:

A way to specify one or more images that should be skipped/excluded when running `kpromo pr`.

For example:

[code]

#### Why is this needed:

Some projects such as Cluster API may have tagged images in staging that are only meant for dev/testing purposes and should not be promoted to the prod repo. Having a way to exclude those images would provide an option

[2022-01-04 21:20] CecileRobertMichon commented on #479
@puerco @justaugustus @fabriziopandini @vincepri thoughts?

[2022-01-04 21:24] CecileRobertMichon commented on #479
if there is agreement this would be a desirable addition, I can work on it

[2022-01-05 09:41] fabriziopandini commented on #479
+1
thanks for taking care of following up on this @CecileRobertMichon

[2022-01-05 09:54] fabriziopandini commented on #473
Thanks @CecileRobertMichon for pointing to this thread!
While I understand the reasoning about YAML for machines, I think that changing the ordering to tag, or possibly image/tag, is a small improvement that provides great benefits for the people reviewing the generated PRs.

Rephrasing a little bit, given that the generated PRs requires human intervention and PRs diff shows YAML, IMO a different

[2022-01-06 01:01] justaugustus commented on #479
@CecileRobertMichon -- we'd love for you to take this up, if you have the bandwidth!

While it may feel out of scope for this feature request, I think the first step is to:

1. Merge the functionality of `cip-mm` into `kpromo pr`, and:
2. Deprecate `cip-mm`

Here's a code snippet: https://github.com/kubernetes-sigs/promo-tools/blob/20e4933e593daf0b93362a089cf9ce072ebbd1d1/cmd/cip-mm/main.go#L108-L

[2022-01-06 01:02] justaugustus commented on #479
/assign @CecileRobertMichon

[2022-01-06 01:30] CecileRobertMichon commented on #479
Can you clarify what you mean by "Merge the functionality of cip-mm into kpromo pr"? What functionality is in cip-mm that's missing in kpromo pr? How is that a prerequisite for adding an --image flag to kpromo pr?

I'm not familiar with cip-mm so trying to figure out how much scope we're talking about here before I sign up for this.

[2022-01-06 01:43] justaugustus commented on #479
Essentially ensuring `kpromo pr` includes the features of `cip-mm`.

`cip-mm` is a predecessor to `kpromo pr` (fka `krel promote-images`) and the lens of creation for the two of them was slightly different.

`cip-mm` lens was "As any user, I would like to take a promotion manifest and grow it, by adding entries filtered by image name, digest, or tag."

`krel promote-images` lens was "As a Kubernet

[2022-01-14 01:20] CecileRobertMichon commented on #479
I opened #482 which reuses the existing "filter by image" functionality in the GrowManifest options to expose it in `kpromo pr`. That fixes our specific use case in this issue and gets `kpromo pr` to including features of `cip-mm`.

In order to fully deprecate `cip-mm` I believe we'd still need to expose filtering by digest but that's a separate feature so it should probably be its own PR and I'd

[2022-01-14 02:23] CecileRobertMichon commented on #473
I wrote a POC of what this could look like just to show that it's possible. Code is a little spaghetti but it could probably be cleaned up a bit.

result PR: https://github.com/kubernetes/k8s.io/pull/3264
branch: https://github.com/kubernetes-sigs/promo-tools/compare/main...CecileRobertMichon:sort-by-tag

[2022-01-17 13:26] fabriziopandini commented on #473
+1, this makes this much easier to read while looking at the code

[2022-01-18 08:40] palnabarun opened #484 "cip-mm promotes platform variants even when not needed"
#### What happened:

When using `cip-mm` to update manifest for image promotion, the platform variants are added to the promotion configuration even when not needed.

Ref: https://github.com/kubernetes/k8s.io/pull/3268#discussion_r786509710

#### What you expected to happen:

The variants should not be populated.

#### How to reproduce it (as minimally and precisely as possible):

Run `cip-mm` on

[2022-01-18 08:56] saschagrunert commented on #484
I always thought that this was a feature. We probably should stop building them to staging if we don't promote those variants in any case.

[2022-01-18 18:38] CecileRobertMichon commented on #473
One question about the statement you made above @justaugustus:

I'm wondering if that's actually required, since some manifests, eg. [cluster-api](https://github.com/kubernetes/k8s.io/blob/main/k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml), are not currently sorted by digest since they are manually written by humans and haven't been using the promo-tools so far, and it still works.

[2022-01-19 23:51] #479 closed

[2022-02-04 23:34] CecileRobertMichon commented on #473
opened https://github.com/kubernetes-sigs/promo-tools/pull/493, please review

[2022-02-11 19:59] #144 closed

[2022-02-11 19:59] #259 closed

[2022-02-23 19:42] justaugustus commented on #473
(Tracking `cip-mm` deprecation in https://github.com/kubernetes-sigs/promo-tools/pull/507.)

[2022-02-23 20:52] justaugustus opened #508 "Deprecate `cip-mm`"
Hey @mrueg, thanks for filing this (and for using the tools here!)
First up, I want to point out `kpromo pr`, which includes much of the functionality of `cip-mm` and should be your go-to tool for creating image promotion PRs. You can read more about it here: https://github.com/kubernetes-sigs/promo-tools/blob/main/docs/promotion-pull-requests.md

Now, onto this question...
It's actually something

[2022-02-24 02:41] #473 closed

[2022-03-03 21:59] listx commented on #508
Ideally we humans shouldn't have to read the YAMLs directly --- sometimes the configurations can get very long and difficult to read directly. I.e., there should be a tool that can display things in a more sensible way.

If there is additional tooling available, it would make the map key ordering in YAML an obsolete discussion (because the ordering logic would reside in the tool, not in how we wri

[2022-03-19 16:33] cpanato opened #520 "cannot use kpromo when have tag like 1.18-bullseye-0"
#### What happened:

When we have a tag that is missing the patch version kpromo complaints

[code]

If this is expected by design we need to remember to always build tag images with a valid semver

cc @justaugustus

#### What you expected to happen:

It should be able to parse special tags or allow via flag to ignore that

#### How to reproduce it (as minimally and precisely as possible):

#### A

[2022-03-22 13:43] saschagrunert opened #523 "Release v3.4.x"
### v3.4.0

- [x] Release: https://github.com/kubernetes-sigs/promo-tools/releases/tag/v3.4.0
- [x] Image promotion: https://github.com/kubernetes/k8s.io/pull/3601
- [ ] Rollout:
  - [x] k8s.io promotion jobs: https://github.com/kubernetes/test-infra/pull/25891
    - [x] Update image references to use registry.k8s.io
  - [ ] prow promotion jobs:
    - [ ] Update image references to use registry.k8

[2022-03-22 13:43] saschagrunert commented on #523
@kubernetes-sigs/release-engineering anyone interested in working on this?

[2022-03-22 13:59] palnabarun commented on #523
I can take a look tomorrow morning.

[2022-03-22 17:22] justaugustus commented on #523
This potentially has some sharp edges.
I'll work on this this week and document.

[2022-04-02 05:55] wespanther commented on #520
Looking through the `kpromo pr` code, this will fail for any tag that isn't strictly a SemVer:

- https://github.com/kubernetes-sigs/promo-tools/blob/a0fcea2171effe4df30597817c9da4bcb3a184ac/cmd/kpromo/cmd/pr/pr.go#L86-L91

This seems to apply to image names with a valid SemVer suffix (e.g. buster-v1.0.0):

[code]

[2022-04-02 05:58] wespanther commented on #520
Looks like @justaugustus has support for non-SemVer tags on the deprecation punchlist, so I assume this should be changed:

https://github.com/kubernetes-sigs/promo-tools/blob/a0fcea2171effe4df30597817c9da4bcb3a184ac/cmd/kpromo/cmd/pr/pr.go#L397

[2022-04-04 01:10] #520 closed

[2022-04-04 22:18] jaypipes opened #533 "Copy images to AWS regions"
image-promoter needs the ability to copy to AWS regions, based on a per-region bucket scheme.

Related: https://github.com/kubernetes-sigs/oci-proxy/issues/39

@jaypipes coordinating with @Verolop and @puerco from Release Engineering

[2022-04-06 16:53] puerco opened #536 "Signatures verification fails due to lag in registry consistency"
#### What happened:
When signing images, our sign library will check the signature of an image right after signing. This may lead to a consistency error in the image promoter where the newly created tag may not be available right away as [evidenced in this canary run](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-promo-tools-image-promo-canary/1511496608326356992)

#### What you expected

[2022-04-06 19:43] justaugustus commented on #523
(renamed to "3.4.x" to track all trailing actions, follow-ups, bug fixes needed)

[2022-04-06 20:02] #536 closed

[2022-04-06 20:24] justaugustus opened #539 "Release documentation"
#### What would you like to be added:

Releasing documentation for this repo

#### Why is this needed:

We don't have it, lol.
I'm taking a draft crack at this in https://github.com/kubernetes-sigs/promo-tools/pull/538.

cc: @kubernetes-sigs/release-engineering
ref: https://github.com/kubernetes-sigs/promo-tools/issues/523

[2022-04-06 20:46] puerco opened #540 "Prevent e2es wiping entire test registry"
#### What would you like to be added:

When e2e's run, they wipe clean the entire test registry. We should prevent them from deleting everything and just cleaning their own repository.

#### Why is this needed:

The registry is now shared with the canary promotions the promoter performs. When e2es wipe the test registry, all previously promoted canary images have to be promoted again.

[2022-04-13 09:18] saschagrunert commented on #523
I think we can consider this as done, right?

[2022-04-13 09:18] #523 closed

[2022-04-13 20:51] jaypipes commented on #533
/assign @jaypipes

[2022-04-14 06:50] puerco opened #546 "kpromo pr will ignore all images unless specifying all flags"
#### What happened:

When running `kpromo` to pr changes to manifests of new images, the `pr` subcommand will ignore the images.

#### What you expected to happen:
This command should notice the secified tags and include the images in the modified manifests.

[code]

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

If you run it specifying a

[2022-04-14 06:50] saschagrunert commented on #546
/help

@kubernetes-sigs/release-engineering anyone wants to pick this up?

[2022-04-14 07:24] palnabarun commented on #546
/assign

Let me take a dig.

[2022-04-14 23:26] BenTheElder commented on #533
xref: https://kubernetes.slack.com/archives/CCK68P2Q2/p1649978570481889?thread_ts=1649976555.356029&cid=CCK68P2Q2

So the layout is like `$bucket/containers/image/sha256:$blobhash`  for all the blobs in GCS.

@ameukam has already run a sync between the GCS behind [k8s.gcr.io](http://k8s.gcr.io/) and an s3 bucket.

If we can have the promoter promote digests in the manifest to paths like this in a

[2022-06-07 07:44] cpanato opened #565 "Release v3.5.0"
### v3.5.0

- [ ] Release:
- [ ] Image promotion:
- [ ] Rollout:
  - [ ] k8s.io promotion jobs:
    - [ ] Update image references to use registry.k8s.io
  - [ ] prow promotion jobs:
    - [ ] Update image references to use registry.k8s.io

[2022-06-07 07:57] cpanato commented on #565
/assign

[2022-06-14 22:40] puerco opened #572 "Release k-sigs/promo-tools 3.4.3"
### v3.4.3

Issue track the upcoming release of promo-tools 3.4.3 including fixes to run image signatures in parallel.

- [x] Release:  https://github.com/kubernetes-sigs/promo-tools/releases/tag/v3.4.3
- [x] Release Prep: https://github.com/kubernetes-sigs/promo-tools/pull/573
- [x] Image promotion: https://github.com/kubernetes/k8s.io/pull/3842
- [ ] Rollout:
  - [x] k8s.io promotion jobs: https

[2022-06-15 21:57] puerco opened #575 "Image Promoter is determining incorrectly which images to verify"
#### What happened:
During the [1.25.0-alpha.1 promotion](https://prow.k8s.io/log?job=post-k8sio-image-promo&id=1537186993526542336) I noticed that the image promoter is determining incorrectly which images are signed and performing a lot of useless verification jobs:

[code]
This causes the promoter to look for and verify signatures in some of the layers of images. The process does not fail, but

[2022-06-15 22:26] puerco commented on #575
OK, doing the math I think the promoter is checking the signatures of the origin images based on the final mirrored destinations: We have 60 tagged images x 3 mirrors = 180

[2022-06-16 07:24] #575 closed

[2022-06-16 18:00] #572 closed

[2022-06-28 17:05] #546 closed

[2022-07-06 07:10] xmudrii commented on #539
/remove-lifecycle stale

[2022-07-06 07:11] xmudrii commented on #402
/remove-lifecycle stale

[2022-07-06 16:54] puerco opened #589 "Release k-sigs/promo-tools@v3.4.4"
### v3.4.4

Issue track the upcoming release of promo-tools 3.4.3 including fixes to run image signatures in parallel.

- [x] Release: https://github.com/kubernetes-sigs/promo-tools/releases/tag/v3.4.4
- [x] Release Prep: https://github.com/kubernetes-sigs/promo-tools/pull/590
- [x] Image promotion: https://github.com/kubernetes/k8s.io/pull/3933
- Rollout:
  - [x] k8s.io promotion jobs: https://gi

[2022-07-07 01:26] #589 closed

[2022-07-12 03:45] puerco opened #591 "Finish k-sigs/promo-tools documentation"
This issue tracks the completion of the release documentation. Mainly it monitors the sections in `RELEASE.md`:

- [ ] Validation/Canaries
- [ ] Drafting release notes
- [ ] Drafting a GitHub release
- [ ] Image promotion
- [ ] Publishing
- [ ] Rollout
- [ ] Announce

/kind documentation
/area release-engineering
/sig release
/cc @kubernetes-sigs/release-engineering

[2022-07-20 23:49] Riaankl commented on #533
/remove-lifecycle stale

@BenTheElder should we keep this open to drive changes to the promotor to push to the S3 buckets or would the process of periodic syncing the bucket with GCS be sufficient?

[2022-07-24 21:41] puerco opened #600 "Carry over .sbom layers at promotion time"
#### What would you like to be added:

When an image is promoted, kpromo will copy all signatures to the production registry. Technically, this means the promoter will copy all .sig layers associated with a promoted digest to the production registry.

We need to do the same for .sbom layers containing attached SBOMs describing those images (defined in the [sigstore SBOM spec](https://github.com/si

[2022-07-24 21:44] puerco opened #601 "Sign attached SBOMs"
#### What would you like to be added:

Sign any SBOMs attached to container images when promoting them.

#### Why is this needed:

Projects may attach SBOMs (software bills of materials) to their container images. When we promote a set of images, the promoter should ensure any sboms attached to images are signed too to ensure they can be verified downstream.

[2022-08-20 06:03] matglas commented on #463
/remove-lifecycle rotten

[2022-08-21 10:08] matglas commented on #277
Looks like an item that need rotten removed and important enough to keep on the backlog right?

[2022-09-03 22:15] #347 closed

[2022-09-03 22:15] #353 closed

[2022-09-03 22:15] #339 closed

[2022-09-03 22:15] #358 closed

[2022-09-03 22:15] #392 closed

[2022-09-03 22:15] #445 closed

[2022-09-03 22:15] #413 closed

[2022-09-03 23:15] #484 closed

[2022-09-03 23:15] #467 closed

[2022-09-03 23:15] #508 closed

[2022-09-03 23:15] #540 closed

[2022-09-15 21:41] Riaankl commented on #533
Resolved by https://github.com/kubernetes/k8s.io/pull/4118
/close

[2022-09-15 21:41] #533 closed

[2022-09-20 10:22] #277 closed

[2022-09-27 22:28] jeremyrickard opened #625 "Release k-sigs/promo-tools@v3.4.5"
### v3.4.5

Issue track the upcoming release of promo-tools 3.4.5, including bug fix where the promoter would crash while filtering signed images due to concurrent RW access to the filtered list

- [x] Release: https://github.com/kubernetes-sigs/promo-tools/releases/tag/v3.4.5
- [x] Release Prep:  https://github.com/kubernetes-sigs/promo-tools/pull/626
- [x] Image promotion: https://github.com/kub

[2022-09-28 14:18] jeremyrickard commented on #625
/close

[2022-09-28 14:18] #625 closed

[2022-09-28 14:18] jeremyrickard commented on #625
Versions bumped.

[2022-10-04 08:17] xmudrii commented on #539
We have some release document, but it appears to be missing some pieces.
/remove-lifecycle stale

[2022-10-04 08:17] xmudrii commented on #402
/remove-lifecycle stale

[2022-10-10 15:16] xmudrii commented on #591
/remove-lifecycle stale

[2022-10-11 17:01] jonjohnsonjr opened #631 "Stop using docker-credential-gcloud for promotion (it is slow)"
#### What would you like to be added:

When calling `google.{Walk,List}`, you're already [using `gcrane.Keychain`](https://github.com/kubernetes-sigs/promo-tools/blob/72771b9e37741391bd729a8d52a5c83d1f09036d/internal/legacy/dockerregistry/inventory.go#L755).

You should do the same thing when calling `crane.Copy` [here](https://github.com/kubernetes-sigs/promo-tools/blob/72771b9e37741391bd729a8d52

[2022-10-11 17:19] ameukam commented on #631
/assign @puerco

[2022-10-11 19:26] BenTheElder opened #633 "ParseSnapshot should use a yaml library"
#### What happened:

`ParseSnapshot` contains a sort of bespoke parser for the yaml format instead of parsing from yaml to a struct with a package like sigs.k8s.io/yaml and then further extracting what we need from the structure.

https://github.com/kubernetes-sigs/promo-tools/blob/72771b9e37741391bd729a8d52a5c83d1f09036d/internal/legacy/dockerregistry/inventory.go#L2352

code like this is brittle

[2022-10-18 22:08] BenTheElder commented on #631
I think this was closed by #609
/close

[2022-10-18 22:08] #631 closed

[2022-10-19 03:39] BenTheElder opened #637 "image promotion is very slow despite low resource utilization"
When running in Kubernetes CI image promotion takes more than one hour, often multiple hours.

Worse, it takes an hour just running presubmit tests in k8s.io repo. As a result a quickly approved image promotion PR may take 3 hours or more to take affect.

I took a cursory pass at this by: https://github.com/kubernetes/test-infra/pull/27743 + https://github.com/kubernetes/test-infra/pull/27765 whic

[2022-10-19 06:23] puerco commented on #637
Opened #638 to log timestamps before each step of the promotion process.

[2022-10-19 06:40] puerco commented on #637
/cc @kubernetes-sigs/release-engineering

[2022-10-19 07:03] puerco commented on #637
OK, we have timestamps: https://prow.k8s.io/log?job=post-promo-tools-image-promo-canary&id=1582627370186051584

[2022-10-19 07:43] puerco commented on #637
A note about these times. These are from a run of our canary job. It is a test promotion using a canary image we build at head. The canary job promotion promotes an image to two mirrors that have almost nothing in them. But we can see the latency of the promotion plus the signing operations:

* Promoting the image takes 12 seconds
* Signing and verifying operations:
1.  Validating signatures from

[2022-10-19 08:22] saschagrunert commented on #637
Looking at the issue "Validating signatures from staging: 20 secs" mentioned in the comment above. The method we measure is `ValidateStagingSignatures`:

https://github.com/kubernetes-sigs/promo-tools/blob/b4fc93c17d39c0155179ff8c38b3ffbc4f91088a/internal/promoter/image/sign.go#L123-L125

It's suspicious that we create a signer in `ValidateStagingSignatures` as well as `FindSingedEdges`, especiall

[2022-10-19 09:58] saschagrunert commented on #637
`signer.IsImageSigned` is indeed slow (~1s per image). I was able to trace the path as following:

1. [`IsImageSigned` (k/release-sdk)](https://github.com/kubernetes-sigs/release-sdk/blob/fad31cb377a00b1fe2d125784d8c7965595bb23f/sign/sign.go#L376)
2. [`SignedEntity` (k/relase-sdk)](https://github.com/kubernetes-sigs/release-sdk/blob/fad31cb377a00b1fe2d125784d8c7965595bb23f/sign/impl.go#L154)
3. [`

[2022-10-19 16:05] BenTheElder commented on #637
It makes sense that the first call to setup the transport would need to negotiate auth with the specific registry.

On mobile: are we able to supply and reuse transports on our end? We should probably setup one per worker goroutine and reuse.

[2022-10-19 17:42] BenTheElder commented on #637
Looks like up through:

We could plumb a WithTransport() but not:

[2022-10-19 21:28] jeremyrickard opened #643 "Release k-sigs/promo-tools@v3.4.6"
### v3.4.6

Issue track the upcoming release of promo-tools 3.4.6, including changes to logging and concurrency to address promotion performance

- [x] Release: https://github.com/kubernetes-sigs/promo-tools/releases/tag/v3.4.6
- [x] Release Prep:  https://github.com/kubernetes-sigs/promo-tools/pull/644
- [x] Image promotion: https://github.com/kubernetes/k8s.io/pull/4380
- [x] Rollout: https://gi

[2022-10-20 11:22] saschagrunert commented on #637
Working on a faster version of image signature verification in https://github.com/kubernetes-sigs/release-sdk/pull/123

[2022-10-20 14:40] #643 closed

[2022-10-20 21:04] BenTheElder commented on #637
I think one of the recent changes upped failed runs

https://prow.k8s.io/?job=*image-promo

We have failures like this:

https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-k8sio-image-promo/1583138923981312000

IIRC Per jon the quota is pretty reasonable so 🤔

[2022-10-20 21:12] ameukam commented on #637
Current quota consumption for Artifact Registry

![image](https://user-images.githubusercontent.com/2343515/197059070-b642d6e1-2039-4f42-bf71-202e456e9a21.png)

[2022-10-20 21:33] BenTheElder commented on #637
https://prow.k8s.io/job-history/gs/kubernetes-jenkins/logs/ci-k8sio-image-promo

besides the sample above:

https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-k8sio-image-promo/1582921237355565056

We just need to tolerate connection blips probably, in that case.

yesterday:

https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-k8sio-image-promo/1582781607704530944

before that, last tuesday

[2022-10-20 21:52] BenTheElder commented on #637
This quota is per region though, so we have to be exceeding 1000 qps *in one region*

[2022-10-20 21:57] BenTheElder commented on #637
registry.k8s.io users are consuming a non-zero amount, and that will increase with time, but in us-east1 it's currently only ~10 qps even reaching registry.k8s.io and not all of that will reach AR.

[2022-10-20 23:13] jonjohnsonjr opened #647 "image promoter should set a useragent"
#### What would you like to be added:

Ideally, the image promoter would have a unique useragent so we can identify what requests it's sending to the registry (in particular, to debug why you're getting 429s).

#### Why is this needed:

See https://github.com/kubernetes-sigs/promo-tools/issues/637#issuecomment-1286180731

[2022-10-20 23:36] cpanato commented on #647
/assign

[2022-10-21 07:17] saschagrunert commented on #637
Yeah I assume we contact the registry multiple times per image which should be clearly improved. But for example for checking if a signature exist we already need 2 requests: One for the digest of the main image and one for the signature digest.

[2022-10-21 18:37] #647 closed

[2022-10-22 09:56] saschagrunert commented on #637
Some enhancements regarding the signature verification got merged in release-sdk and promo tools. I still have some ideas how to improve the signing part.

[2022-10-22 21:30] puerco commented on #637
Amazing, I will kick off a canary run later today and we can see it in action. Thank you Sascha, see you soon! :tada: :smile:

[2022-10-25 20:18] saschagrunert opened #654 "Add flag to promote only last git diff"
We can filter the manifest parse results based on which files or entries have changed in the PR and on the k8s.io main branch:

https://github.com/kubernetes-sigs/promo-tools/blob/6ecd71c6a030cab6bdb16dff79cec303b005c2bf/internal/legacy/dockerregistry/schema/manifest.go#L251-L321

The tricky part is to find the right diff for PRs as well as `main`. A new flag can be introduced to test the option l

[2022-10-27 19:38] upodroid opened #658 "Switch to distroless"
A long-term optimization for the image-promoter is to switch the image to distroless.  That means that everything has to be implemented in Go but we are making various `os.exec` calls in the code.

[code]

/area release-eng
/kind feature

[2022-10-27 20:27] saschagrunert commented on #658
Hm yeah, that is a long term goal for our libraries.

[2022-10-28 04:14] #654 closed

[2022-10-28 19:06] cpanato opened #659 "Release k-sigs/promo-tools@v3.4.7"
### v3.4.7

Issue track the upcoming release of promo-tools 3.4.7

- [x] Release Prep:  https://github.com/kubernetes-sigs/promo-tools/pull/660
- [x] Release: https://github.com/kubernetes-sigs/promo-tools/releases/tag/v3.4.7
- [x] Image promotion: https://github.com/kubernetes/k8s.io/pull/4397
- [ ] Rollout: https://github.com/kubernetes/test-infra/pull/27837

/cc @puerco @jeremyrickard  @Verolop

[2022-10-29 04:42] #659 closed

[2022-11-02 10:11] saschagrunert opened #662 "Release k-sigs/promo-tools@v3.4.8"
### v3.4.8

Issue track the upcoming release of promo-tools 3.4.8

- [x] Release Prep: https://github.com/kubernetes-sigs/promo-tools/pull/663
- [x] Release: https://github.com/kubernetes-sigs/promo-tools/releases/tag/v3.4.8
- [x] Image promotion: https://github.com/kubernetes/k8s.io/pull/4409
- [x] Rollout: https://github.com/kubernetes/test-infra/pull/27867

/cc @puerco @jeremyrickard  @Verolop

[2022-11-02 10:59] #662 closed

[2022-11-02 11:16] saschagrunert commented on #637
I think we can close this now, especially since we have https://github.com/kubernetes-sigs/promo-tools/issues/662. There could be more room for improvement like reducing the amount of registries.

[2022-11-02 15:14] saschagrunert commented on #637
Good, can you provide another set of data for, let's say, the patch promotions next week?

[2022-11-02 16:03] BenTheElder commented on #637
Can get a current sample as soon as I'm back at my desk, and thank you for working on this

[2022-11-03 06:01] BenTheElder commented on #637
Sorry .... today did not turn out as expected, I should have known.
So anyhow:

https://prow.k8s.io/?job=*image-promo

=> current run =>
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-k8sio-image-promo/1588044493649612800

=> prowjob yaml link =>
status.pod_name in the prowjob gives us `9fb02c3f-5b3a-11ed-a031-bac5f1dea348`

=> let's go check cloud console and find that pod in the k8s infr

[2022-11-03 06:03] BenTheElder commented on #637
(note that that spike is around when the job started, and then it settles down to around 4% CPU and 0.66MiB/s outbound traffic)

[2022-11-03 08:36] saschagrunert commented on #637
@BenTheElder agree, so would it be enough to change the `resource` `requests`/`limits` to match something lower?

https://github.com/kubernetes/test-infra/blob/a2710ee42153299f3f77313f83f94d6398c8550f/config/jobs/kubernetes/sig-k8s-infra/trusted/releng/releng-trusted.yaml#L167-L174

What about the memory utilization?

[2022-11-10 14:22] saschagrunert opened #675 "Release k-sigs/promo-tools@v3.4.9"
### v3.4.9

Issue track the upcoming release of promo-tools 3.4.9

- [x] Release Prep: https://github.com/kubernetes-sigs/promo-tools/pull/676
- [x] Release: https://github.com/kubernetes-sigs/promo-tools/releases/tag/v3.4.9
- [x] Image promotion: https://github.com/kubernetes/k8s.io/pull/4446
- [ ] Rollout: https://github.com/kubernetes/test-infra/pull/27963

/cc @puerco @jeremyrickard  @Verolop

[2022-11-10 15:46] #675 closed

[2022-11-22 05:17] puerco commented on #601
/remove-lifecycle rotten

[2022-11-30 20:45] xmudrii opened #682 "Release k-sigs/promo-tools@v3.4.10"
### v3.4.10

Issue track the upcoming release of promo-tools 3.4.10

Previous promo-tools release cut issue: #675

- [x] Release Prep: #683
- [x] Release: https://github.com/kubernetes-sigs/promo-tools/releases/tag/v3.4.10
- [x] Image promotion:  https://github.com/kubernetes/k8s.io/pull/4515
- [x] Rollout: https://github.com/kubernetes/test-infra/pull/28153

/cc @puerco @jeremyrickard @Verolop @a